.yc-cascader {
  width: 100%;
  display: inline-flex;
  align-items: center;
  &:deep(.yc-input-outer) {
    .yc-input-wrapper {
      .yc-input {
        &::placeholder {
          color: rgb(29, 33, 41);
        }
      }
    }
  }
  .yc-input-placeholder {
    color: rgb(134, 144, 156);
  }
  .yc-cascader-suffix-icon,
  .yc-cascader-search-icon,
  .yc-cascader-clear-icon,
  .yc-spin {
    font-size: 12px;
    color: inherit;
    flex-shrink: 0;
  }
}
