.yc-cascader-option {
  cursor: pointer;
  position: relative;
  height: 36px;
  padding-left: 12px;
  min-width: 100px;
  background-color: transparent;
  color: rgb(29, 33, 41);
  font-size: 14px;
  line-height: 36px;
  transition: all 0.2s cubic-bezier(0, 0, 1, 1);
  display: flex;
  align-items: center;
  gap: 8px;
  &:not(.yc-cascader-option-disabled):hover {
    background-color: rgb(242, 243, 245);
  }
  .yc-checkbox {
    padding-left: 0;
  }
  .yc-cascader-option-label {
    flex: 1;
    padding-right: 34px;
    .yc-icon {
      position: absolute;
      top: calc((100% - 12px) / 2);
      right: 10px;
      // transform: translateY(-50%);
      color: rgb(78, 89, 105);
      font-size: 12px;
    }
  }
}
.yc-cascader-option-selected {
  background-color: rgb(242, 243, 245);
}
.yc-cascader-option-disabled {
  color: rgb(201, 205, 212);
  background-color: transparent;
  cursor: not-allowed;
}
