// loading
.yc-tag-loading {
  opacity: 0.8;
  cursor: default;
}
// checked
.yc-tag-checked {
  cursor: pointer;
  user-select: none;
}
// size
.yc-tag-size-large {
  height: 32px;
  font-size: 14px;
  line-height: 30px;
}
.yc-tag-size-medium {
  height: 24px;
  font-size: 12px;
  line-height: 22px;
}
.yc-tag-size-small {
  height: 20px;
  font-size: 12px;
  line-height: 18px;
}
// color
.yc-tag-color-default {
  &.yc-tag-checked {
    border-color: rgb(229, 230, 235);
  }
  &.yc-tag-checked {
    color: rgb(29, 33, 41);
    background-color: rgb(242, 243, 245);
  }
}
.yc-tag-color-red {
  &.yc-tag-checked {
    border-color: rgb(229, 230, 235);
  }
  &.yc-tag-checked {
    color: rgb(245, 63, 63);
    background-color: rgb(255, 236, 232);
  }
}
.yc-tag-color-orangered {
  &.yc-tag-checked {
    border-color: rgb(247, 114, 52);
  }
  &.yc-tag-checked {
    color: rgb(247, 114, 52);
    background-color: rgb(255, 243, 232);
  }
}
.yc-tag-color-orange {
  &.yc-tag-checked {
    border-color: rgb(255, 125, 0);
  }
  &.yc-tag-checked {
    color: rgb(255, 125, 0);
    background-color: rgb(255, 247, 232);
  }
}
.yc-tag-color-gold {
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
  &.yc-tag-checked {
    color: rgb(247, 186, 30);
    background-color: rgb(255, 252, 232);
  }
}
//
.yc-tag-color-lime {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
.yc-tag-color-green {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
.yc-tag-color-cyan {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
.yc-tag-color-blue {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
.yc-tag-color-arcoblue {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
.yc-tag-color-purple {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
.yc-tag-color-pinkpurple {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
.yc-tag-color-magenta {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
.yc-tag-color-gray {
  background-color: rgb(255, 252, 232);
  border-color: transparent;
  color: rgb(247, 186, 30);
  &.yc-tag-checked {
    border-color: rgb(247, 186, 30);
  }
}
