// slide
@keyframes carousel-slide-x-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes carousel-slide-x-in-reverse {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes carousel-slide-x-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes carousel-slide-x-out-reverse {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}
@keyframes carousel-slide-y-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes carousel-slide-y-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
@keyframes carousel-slide-y-in-reverse {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes carousel-slide-y-out-reverse {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}
.yc-carousel-slide-x-in {
  animation-name: carousel-slide-x-in;
}
.yc-carousel-slide-x-in-reverse {
  animation-name: carousel-slide-x-in-reverse;
}
.yc-carousel-slide-x-out {
  visibility: visible;
  animation-name: carousel-slide-x-out;
}
.yc-carousel-slide-x-out-reverse {
  visibility: visible;
  animation-name: carousel-slide-x-out-reverse;
}
.yc-carousel-slide-y-in {
  animation-name: carousel-slide-y-in;
}
.yc-carousel-slide-y-in-reverse {
  animation-name: carousel-slide-y-in-reverse;
}
.yc-carousel-slide-y-out {
  visibility: visible;
  animation-name: carousel-slide-y-out;
}
.yc-carousel-slide-y-out-reverse {
  visibility: visible;
  animation-name: carousel-slide-y-out-reverse;
}
