.yc-overflow-list {
  position: relative;
  overflow: hidden;
  display: flex;

  .overflow-list-hidden {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
  }

  .yc-tag {
    flex-shrink: 0;
  }
}
