@component: yc-overflow-list;
.@{component} {
  position: relative;
  display: flex;

  &:deep(.yc-tag) {
    flex-shrink: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    .yc-tag-label {
      text-wrap: nowrap;
    }
  }
}
