@component: yc-popconfirm;
.yc-trigger {
  &.@{component} {
    .@{component}-popup-content {
      padding: 16px;
      color: rgb(78, 89, 105);
      font-size: 14px;
      line-height: 1.5715;
      background-color: #fff;
      border: 1px solid rgb(229, 230, 235);
      border-radius: 4px;
      box-shadow: 0 4px 10px #0000001a;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .@{component}-body {
        display: flex;
        align-items: center;
        gap: 8px;
        .@{component}-icon {
          font-size: 18px;
          height: 22px;
          width: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .@{component}-content {
          text-align: left;
          word-wrap: break-word;
        }
      }
      .@{component}-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
      }
    }
    .@{component}-popup-arrow {
      z-index: 1;
      border: 1px solid rgb(229, 230, 235);
    }
  }
  @type: {
    info: rgb(22, 93, 255);
    success: rgb(0, 180, 42);
    warning: rgb(255, 125, 0);
    error: rgb(245, 63, 63);
  };
  each(@type, {
    &.@{component}-@{key} {
      .@{component}-icon{
        color: @value;
      }
    }
  });
}
