.yc-tag {
  padding: 0 8px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 500;
  color: rgb(29, 33, 41);
  display: inline-flex;
  align-items: center;
  overflow: hidden;

  .yc-tag-icon {
    margin-right: 4px;
  }
  .yc-tag-loading-icon,
  .yc-tag-close-button {
    margin-left: 4px;
    font-size: 12px;
  }
  .yc-tag-loading-icon,
  .yc-tag-close-button,
  .yc-tag-label {
    flex-shrink: 0;
  }
  .yc-tag-label {
    flex: 1;
    line-height: 1;
  }
}
// loading
.yc-tag-loading {
  opacity: 0.8;
  cursor: default;
}
// checked
.yc-tag-checked {
  cursor: pointer;
  user-select: none;
}
// size
.yc-tag-size-large {
  height: 32px;
  font-size: 14px;
  line-height: 30px;
}
.yc-tag-size-medium {
  height: 24px;
  font-size: 12px;
  line-height: 22px;
}
.yc-tag-size-small {
  height: 20px;
  font-size: 12px;
  line-height: 18px;
}
// color
.yc-tag-custom-color {
  &.yc-tag-bordered {
    border-color: rgb(229, 230, 235);
  }
  &.yc-tag-checked {
    color: #fff;
  }
}
.yc-tag-color-red {
  &.yc-tag-bordered {
    border-color: rgb(229, 230, 235);
  }
  &.yc-tag-checked {
    color: rgb(245, 63, 63);
    background-color: rgb(255, 236, 232);
  }
}
.yc-tag-color-orangered {
  &.yc-tag-bordered {
    border-color: rgb(247, 114, 52);
  }
  &.yc-tag-checked {
    color: rgb(247, 114, 52);
    background-color: rgb(255, 243, 232);
  }
}
.yc-tag-color-orange {
  &.yc-tag-bordered {
    border-color: rgb(255, 125, 0);
  }
  &.yc-tag-checked {
    color: rgb(255, 125, 0);
    background-color: rgb(255, 247, 232);
  }
}
.yc-tag-color-gold {
  &.yc-tag-bordered {
    border-color: rgb(247, 186, 30);
  }
  &.yc-tag-checked {
    color: rgb(247, 186, 30);
    background-color: rgb(255, 252, 232);
  }
}
.yc-tag-color-lime {
  &.yc-tag-bordered {
    border-color: rgb(159, 219, 29);
  }
  &.yc-tag-checked {
    color: rgb(159, 219, 29);
    background-color: rgb(252, 255, 232);
  }
}
.yc-tag-color-green {
  &.yc-tag-bordered {
    border-color: rgb(0, 180, 134);
  }
  &.yc-tag-checked {
    color: rgb(0, 180, 134);
    background-color: rgb(232, 255, 234);
  }
}
.yc-tag-color-cyan {
  &.yc-tag-bordered {
    border-color: rgb(20, 201, 201);
  }
  &.yc-tag-checked {
    color: rgb(20, 201, 201);
    background-color: rgb(232, 255, 251);
  }
}
.yc-tag-color-blue {
  &.yc-tag-bordered {
    border-color: rgb(52, 145, 250);
  }
  &.yc-tag-checked {
    color: rgb(52, 145, 250);
    background-color: rgb(232, 247, 255);
  }
}
.yc-tag-color-arcoblue {
  &.yc-tag-bordered {
    border-color: rgb(22, 93, 255);
  }
  &.yc-tag-checked {
    color: rgb(22, 93, 255);
    background-color: rgb(232, 243, 255);
  }
}
.yc-tag-color-purple {
  &.yc-tag-bordered {
    border-color: rgb(144, 46, 209);
  }
  &.yc-tag-checked {
    color: rgb(144, 46, 209);
    background-color: rgb(245, 232, 255);
  }
}
.yc-tag-color-pinkpurple {
  &.yc-tag-bordered {
    border-color: rgb(217, 26, 217);
  }
  &.yc-tag-checked {
    color: rgb(217, 26, 217);
    background-color: rgb(255, 232, 251);
  }
}
.yc-tag-color-magenta {
  &.yc-tag-bordered {
    border-color: rgb(245, 49, 157);
  }
  &.yc-tag-checked {
    color: rgb(245, 49, 157);
    background-color: rgb(255, 232, 241);
  }
}
.yc-tag-color-gray {
  &.yc-tag-bordered {
    border-color: rgb(134, 144, 156);
  }
  &.yc-tag-checked {
    color: rgb(134, 144, 156);
    background-color: rgb(242, 243, 245);
  }
}
