@component: yc-tag;
.@{component} {
  padding: 0 8px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;

  .@{component}-icon {
    flex-shrink: 0;
    margin-right: 4px;
  }
  .@{component}-loading-icon,
  .@{component}-close-button {
    flex-shrink: 0;
    margin-left: 4px;
    font-size: 12px;
    color: inherit;
  }
  .@{component}-label {
    width: fit-content;
  }
}
// wrap
.@{component}-wrap {
  height: fit-content;
  white-space: pre-wrap;
  word-break: break-word;
}
// no-wrap
.@{component}-no-wrap {
  overflow: hidden;
  .@{component}-label {
    flex: 1;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
// loading
.@{component}-loading {
  opacity: 0.8;
  cursor: default;
}
// checked
.@{component}-checked {
  cursor: pointer;
  user-select: none;
}
// size
@size: {
  @large: {
    min-height: 32px;
    font-size: 14px;
    line-height: 30px;
  };
  @medium: {
    min-height: 24px;
    font-size: 12px;
    line-height: 22px;
  };
  @small: {
    min-height: 20px;
    font-size: 12px;
    line-height: 18px;
  };
};
each(@size, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .@{component}-size-@{key} {
    min-height: @value[min-height];
    font-size: @value[font-size];
    line-height: @value[line-height];
  }
});
// color
.@{component}-preset-color {
  color: rgb(29, 33, 41);
  background-color: #fff;
  &:hover {
    background-color: rgb(242, 243, 245);
  }
  &.@{component}-bordered {
    border-color: rgb(229, 230, 235);
  }
}
.@{component}-custom-color {
  color: #fff;
}
@color: {
  @default: {
    color: rgb(29, 33, 41);
    bg: rgb(242, 243, 245);
    hover: rgb(229, 230, 235);
    border: rgb(229, 230, 235);
  };
  @red: {
    color: rgb(245, 63, 63);
    bg: rgb(255, 236, 232);
    hover: rgb(253, 205, 197);
    border: rgb(245, 63, 63);
  };
  @orangered: {
    color: rgb(247, 114, 52);
    bg: rgb(255, 243, 232);
    hover: rgb(253, 221, 195);
    border: rgb(247, 114, 52);
  };
  @orange: {
    color: rgb(255, 125, 0);
    bg: rgb(255, 247, 232);
    hover: rgb(255, 228, 186);
    border: rgb(255, 125, 0);
  };
  @gold: {
    color: rgb(247, 186, 30);
    bg: rgb(255, 252, 232);
    hover: rgb(252, 233, 150);
    border: rgb(247, 186, 30);
  };
  @lime: {
    color: rgb(159, 219, 29);
    bg: rgb(252, 255, 232);
    hover: rgb(237, 248, 187);
    border: rgb(159, 219, 29);
  };
  @green: {
    color: rgb(0, 180, 134);
    bg: rgb(232, 255, 234);
    hover: rgb(175, 240, 181);
    border: rgb(0, 180, 134);
  };
  @cyan: {
    color: rgb(20, 201, 201);
    bg: rgb(232, 255, 251);
    hover: rgb(183, 244, 236);
    border: rgb(20, 201, 201);
  };
  @blue: {
    color: rgb(52, 145, 250);
    bg: rgb(232, 247, 255);
    hover: rgb(195, 231, 254);
    border: rgb(52, 145, 250);
  };
  @arcoblue: {
    color: rgb(22, 93, 255);
    bg: rgb(232, 243, 255);
    hover: rgb(190, 218, 255);
    border: rgb(22, 93, 255);
  };
  @purple: {
    color: rgb(144, 46, 209);
    bg: rgb(245, 232, 255);
    hover: rgb(221, 190, 246);
    border: rgb(144, 46, 209);
  };
  @pinkpurple: {
    color: rgb(217, 26, 217);
    bg: rgb(255, 232, 251);
    hover: rgb(247, 186, 239);
    border: rgb(217, 26, 217);
  };
  @magenta: {
    color: rgb(245, 49, 157);
    bg: rgb(255, 232, 241);
    hover: rgb(253, 194, 219);
    border: rgb(245, 49, 157);
  };
  @gray: {
    color: rgb(134, 144, 156);
    bg: rgb(242, 243, 245);
    hover: rgb(229, 230, 235);
    border: rgb(134, 144, 156);
  };
};
each(@color, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .@{component}-color-@{key} {
    &.@{component}-checked {
      color: @value[color];
      background-color: @value[bg];
      & when(@key = default){
        .yc-tag-icon{
          color: rgb(78,89,105);
        }
      }
      &.@{component}-checkable:hover {
        border-color: transparent;
        background-color: @value[hover];
      }
      &.@{component}-bordered {
        border-color: @value[border];
      }
    }
  }
});
