// checkbox
.arco-checkbox {
  .arco-checkbox-icon-hover {
    background: url('../icons/checkbox-uncheck.svg') no-repeat;
    width: 14px;
    height: 14px;
    &::before {
      display: none;
    }
    .arco-checkbox-icon {
      display: none;
    }
  }
  &.arco-checkbox-disabled {
    .arco-checkbox-icon-hover {
      background: url('../icons/checkbox-uncheck-disabled.svg') no-repeat;
    }
  }
  &.arco-checkbox-checked {
    .arco-checkbox-icon-hover {
      background: url('../icons/checkbox-checked.svg') no-repeat;
    }
    &.arco-checkbox-disabled {
      .arco-checkbox-icon-hover {
        background: url('../icons/checkbox-checked-disabled.svg') no-repeat;
      }
    }
  }
}
//radio
.arco-radio {
  .arco-radio-icon-hover {
    background: url('../icons/radio-uncheck.svg') no-repeat;
    width: 14px;
    height: 14px;
    &::before {
      display: none;
    }
    .arco-radio-icon {
      display: none;
    }
  }
  &.arco-radio-disabled {
    .arco-radio-icon-hover {
      background: url('../icons/radio-uncheck-disabled.svg') no-repeat;
    }
  }
  &.arco-radio-checked {
    .arco-radio-icon-hover {
      background: url('../icons/radio-checked.svg') no-repeat;
    }
    &.arco-radio-disabled {
      .arco-radio-icon-hover {
        background: url('../icons/radio-checked-disabled.svg') no-repeat;
      }
    }
  }
}
//modal
&.arco-modal-container {
  .arco-modal-mask {
    background: rgba(0, 0, 0, 0.6);
  }
  .arco-modal-wrapper {
    .arco-modal {
      border-radius: 16px;
      background: #fff;

      .arco-modal-header {
        padding: 16px 24px 0;
        border-bottom: 0;
        .arco-modal-title {
          color: #0d1014;
          font-family: 'PingFang SC';
          font-size: 15px;
          font-weight: 500;
        }
        .arco-modal-close-btn {
          margin-left: -10px;
          .arco-icon-hover {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            background: url('../icons/close-circle.svg') no-repeat;
            svg {
              display: none;
            }
            &::before {
              display: none;
            }
          }
        }
      }
      .arco-modal-body {
        padding: 24px 24px 0 17px;
        min-height: 268px;
      }
      .arco-modal-footer {
        height: 64px;
        width: 100%;
        padding: 16px 24px;
        border-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
// drawer
&.arco-drawer-container {
  .arco-drawer-mask {
    background: rgba(0, 0, 0, 0.6);
  }
  .arco-drawer {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #fff;

    .arco-drawer-header {
      padding: 16px 24px;
      border-bottom: 1px solid #f2f5fa;
      .arco-drawer-title {
        color: #0d1014;
        font-family: 'PingFang SC';
        font-size: 15px;
        font-weight: 500;
      }
      .arco-drawer-close-btn {
        margin-left: -10px;
        .arco-icon-hover {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          background: url('../icons/close-circle.svg') no-repeat;
          svg {
            display: none;
          }
          &::before {
            display: none;
          }
        }
      }
    }
    .arco-drawer-body {
      padding: 24px 24px 0 17px;
      min-height: 268px;
    }
    .arco-drawer-footer {
      height: 64px;
      width: 100%;
      padding: 16px 24px;
      border-bottom: 1px solid #f2f5fa;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}
// button
&.arco-btn {
  &.arco-btn-size-medium {
    border-radius: 8px;
    font-family: 'PingFang SC';
    font-size: 14px;
    font-weight: 400;
    min-width: 88px;
    padding: 8px 12px;
    .arco-btn-icon {
      margin-right: 4px;
      font-size: 12px;
    }
    &.arco-btn-disabled {
      opacity: 0.4;
    }
    &.arco-btn-primary {
      color: #fff;
      background: #0065ff;
      box-shadow: 0px 2px 6px 0px rgba(0, 101, 255, 0.3);
      &:not(.arco-btn-disabled):hover {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.1) 100%
          ),
          #0065ff;
        box-shadow: 0px 2px 6px 0px rgba(0, 101, 255, 0.3);
      }
    }
    &.arco-btn-outline,
    &.arco-btn-secondary {
      color: #0d1014;
      border-radius: 8px;
      border: 1px solid #e1e5eb;
      background: #fff;

      &:not(.arco-btn-disabled):hover {
        color: #0d1014;
        background: #fff;
        border-color: #0065ff;
      }
    }
    // danger
    &.arco-btn-status-danger {
      background: #ff4c26;
      color: #fff;
      box-shadow: none;
      border: 0;
      &:not(.arco-btn-disabled):hover {
        background: #ff4c26;
        box-shadow: none;
        color: #fff;
      }
      &.arco-btn-dashed {
        border: 1px dashed #ff4c26;
        color: #ff4c26;
        background: #fff;
        &:not(.arco-btn-disabled):hover {
          background: #fff;
        }
      }
    }
    // warning
    &.arco-btn-status-warning {
      background: #ffa126;
      color: #fff;
      box-shadow: none;
      border: 0;
      &:not(.arco-btn-disabled):hover {
        background: #ffa126;
        box-shadow: none;
        color: #fff;
      }
      &.arco-btn-dashed {
        border: 1px dashed #ffa126;
        color: #ffa126;
        background: #fff;
        &:not(.arco-btn-disabled):hover {
          background: #fff;
        }
      }
    }
    // succsss
    &.arco-btn-status-success {
      background: #26a555;
      color: #fff;
      box-shadow: none;
      border: 0;
      &:not(.arco-btn-disabled):hover {
        background: #26a555;
        box-shadow: none;
        color: #fff;
      }
      &.arco-btn-dashed {
        border: 1px dashed #26a555;
        color: #26a555;
        background: #fff;
        &:not(.arco-btn-disabled):hover {
          background: #fff;
        }
      }
    }
  }
}
// switch
&.arco-switch {
}
// scrollbar
.arco-scrollbar {
  .arco-scrollbar-track {
    width: 12px;
    .arco-scrollbar-thumb {
      .arco-scrollbar-thumb-bar {
        width: 6px;
        background-color: #e1e5eb;
      }
    }
  }
}
