.yc-radio-group-direction-horizontal {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.yc-radio-group-direction-vertical {
  display: flex;
  flex-direction: column;
  .yc-radio {
    line-height: 32px;
  }
}
.yc-radio-button-group {
  display: inline-flex;
  padding: 1.5px;
  background-color: rgb(242, 243, 245);
  border-radius: 2px;
}
