.yc-breadcrumb {
  display: inline-flex;
  align-items: center;
  color: rgb(78, 89, 105);
  font-size: 14px;
  &:deep(.yc-breadcrumb-item) {
    &:last-child {
      color: rgb(29, 33, 41);
      font-weight: 500;
    }
  }
}
