@component: yc-descriptions;
.@{component} {
  display: flex;
  flex-direction: column;
  .@{component}-title {
    color: rgb(29, 33, 41);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5715;
  }
  .@{component}-body {
    .@{component}-table {
      width: 100%;
      border-collapse: collapse;
      tbody {
        display: table-row-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;
        tr {
          display: table-row;
          vertical-align: inherit;
          unicode-bidi: isolate;
          border-color: inherit;
        }
      }
    }
  }
}
//table-layout
.@{component}-table-layout-fixed {
  .@{component}-body {
    .@{component}-table {
      table-layout: fixed;
      .@{component}-item-label {
        width: auto;
      }
    }
  }
}
// layout
.@{component}-layout-horizontal,
.@{component}-layout-vertical {
  .@{component}-item-label {
    width: 1px;
    white-space: nowrap;
  }
  .@{component}-item-value {
    white-space: pre-wrap;
    word-break: break-word;
  }
}
.@{component}-layout-inline-horizontal {
  .@{component}-item {
    padding: 7px 20px;
    & > div {
      display: inline-block;
      &:last-child {
        margin-left: 4px;
      }
    }
  }
}
.@{component}-layout-inline-vertical {
  .@{component}-item {
    & > div {
      &:last-child {
        margin-top: 2px;
      }
    }
  }
}
// bordered
.@{component}-bordered {
  .@{component}-body {
    overflow: hidden;
    border: 1px solid rgb(229, 230, 235);
    border-radius: 4px;
    .@{component}-row {
      &:not(:last-child) {
        border-bottom: 1px solid rgb(229, 230, 235);
      }
    }
  }
  .@{component}-item {
    border-right: 1px solid rgb(229, 230, 235);
  }
  .@{component}-item-label,
  .@{component}-item-value {
    border-right: 1px solid rgb(229, 230, 235);
  }
  .@{component}-item-label {
    background-color: rgb(247, 248, 250);
  }
  // 动态设置border不显示的位置
  &.@{component}-layout-horizontal {
    .@{component}-item-value:last-child {
      border-right: none;
    }
  }
  &.@{component}-layout-vertical {
    .@{component}-item-label,
    .@{component}-item-value {
      &:last-child {
        border-right: none;
      }
    }
  }
  &.@{component}-layout-inline-vertical,
  &.@{component}-layout-inline-horizontal {
    .@{component}-item:last-child {
      border-right: none;
    }
  }
}
// size
@sizes: {
  @mini: {
    gap: 6px;
    item-padding: 8px;
  };
  @small: {
    gap: 8px;
    item-padding: 8px;
  };
  @medium: {
    gap: 10px;
    item-padding: 10px;
  };
  @large: {
    gap: 12px;
    item-padding: 14px;
  };
};
each(@sizes, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .@{component}-size-@{key} {
    gap: @value[gap];
    &.@{component}-layout-inline-vertical {
      .@{component}-item {
        padding: @value[item-padding] 20px;
      }
    }
  }
});
