// size
@size-map: {
  mini: 24px;
  small: 28px;
  medium: 32px;
  large: 36px;
};
each(@size-map, {
    .yc-verification-code-size-@{key} {
      &:deep(.yc-input-wrapper) {
        width: @value;
      }
    }
  });
