// Verification code base styles
.yc-verification-code {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:deep(.yc-input-wrapper) {
    padding: 0;
    .yc-input {
      text-align: center;
    }
  }

  .yc-input-disabled-write {
    opacity: 1;
    cursor: text;
    &:hover {
      background-color: rgb(229, 230, 235);
    }
    &:focus-within {
      border-color: transparent;
    }
  }
}

// size
.yc-verification-code-size-mini {
  &:deep(.yc-input-wrapper) {
    width: 24px;
  }
}
.yc-verification-code-size-small {
  &:deep(.yc-input-wrapper) {
    width: 28px;
  }
}
.yc-verification-code-size-medium {
  &:deep(.yc-input-wrapper) {
    width: 32px;
  }
}
.yc-verification-code-size-large {
  &:deep(.yc-input-wrapper) {
    width: 36px;
  }
}
