// Verification code base styles
.yc-verification-code {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:deep(.yc-input-wrapper) {
    padding: 0;
    .yc-input {
      text-align: center;
    }
  }

  .yc-input-disabled-write {
    opacity: 1;
    cursor: text;
    &:hover {
      background-color: rgb(229, 230, 235);
    }
    &:focus-within {
      border-color: transparent;
    }
  }
}

// size
@size-map: {
  mini: 24px;
  small: 28px;
  medium: 32px;
  large: 36px;
};
.set-verification-code-size(@size, @width) {
  .yc-verification-code-size-@{size} {
    &:deep(.yc-input-wrapper) {
      width: @width;
    }
  }
}
each(@size-map, {
  .set-verification-code-size(@key, @value);
});
