@component: yc-alert;
.@{component} {
  overflow: hidden;
  width: 100%;
  padding: 8px 15px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.5715;
  display: flex;
  align-items: center;
  gap: 8px;
  transform-origin: 50% 0;

  .@{component}-icon {
    font-size: 16px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .@{component}-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .@{component}-title {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: rgb(29, 33, 41);
    }
    .@{component}-content {
      // color: rgb(78, 89, 105);
      color: rgb(29, 33, 41);
    }
  }
  .@{component}-close-btn {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// title
.@{component}-has-title {
  padding: 15px;
  align-items: flex-start;
  .@{component}-icon {
    font-size: 18px;
    height: 24px;
  }
}
// center
.@{component}-center {
  .@{component}-body {
    .@{component}-title {
      text-align: center;
    }
    .@{component}-content {
      text-align: center;
    }
  }
}
// banner
.@{component}-banner {
  border-radius: 0;
  justify-content: center;
  .@{component}-body {
    flex: unset;
  }
}

// type
@type: {
  @info: {
    bg: rgb(232, 243, 255);
    icon-color: rgb(22, 93, 255);
  };
  @success: {
    bg: rgb(232, 243, 255);
    icon-color: rgb(0, 180, 42);
  };
  @warning: {
    bg: rgb(255, 247, 232);
    icon-color: rgb(255, 125, 0);
  };
  @error: {
    bg: rgb(255, 236, 232);
    icon-color: rgb(245, 63, 63);
  };
  @normal: {
    bg: rgb(242, 243, 245);
    icon-color: rgb(201, 205, 212);
  };
};
each(@type,.(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .@{component}-@{key}{
    background-color: @value[bg];
    .@{component}-icon {
     color: @value[icon-color]
    }
  }
});
