// fade过渡
.fade-enter-from,
.fade-appear-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-appear-to,
.fade-leave-from {
  opacity: 1;
}
.fade-enter-active,
.fade-appear-active,
.fade-leave-active {
  transition: opacity 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
}

// modal过渡
.zoom-modal-enter-from,
.zoom-modal-appear-from,
.zoom-modal-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}
.zoom-modal-enter-to,
.zoom-modal-appear-to,
.zoom-modal-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}
.zoom-modal-enter-active,
.zoom-modal-appear-active,
.zoom-modal-leave-active {
  transition:
    opacity 0.4s cubic-bezier(0.3, 1.3, 0.3, 1),
    transform 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
}

//popover,tooltip过渡效果
.zoom-in-fade-out-enter-from,
.zoom-in-fade-out-appear-from,
.zoom-in-fade-out-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}
.zoom-in-fade-out-enter-to,
.zoom-in-fade-out-appear-to,
.zoom-in-fade-out-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}
.zoom-in-fade-out-enter-active,
.zoom-in-fade-out-appear-active,
.zoom-in-fade-out-leave-active {
  transition:
    opacity 0.3s cubic-bezier(0.3, 1.3, 0.3, 1),
    transform 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
}
