.yc-pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  .yc-pagination-total {
    height: 100%;
    color: rgb(29, 33, 41);
    white-space: nowrap;
  }
  .yc-pagination-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .yc-pagination-simple {
    display: flex;
    align-items: center;
    .yc-pagination-jumper-simple {
      gap: 0;
      padding: 0 4px;
      .yc-pagination-jumper-separator {
        padding: 0 12px;
      }
      .yc-pagination-jumper-total-page {
        padding-right: 8px;
      }
    }
  }
  .yc-pagination-item {
    outline: 0;
    cursor: pointer;
    user-select: none;
    padding: 0 8px;
    border-radius: 2px;
    background-color: transparent;
    color: rgb(78, 89, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(.yc-pagination-item-disabled):not(.yc-pagination-item-active):hover {
      color: rgb(78, 89, 105);
      background-color: rgb(247, 248, 250);
      transition:
        color 0.2s cubic-bezier(0, 0, 1, 1),
        background-color 0.2s cubic-bezier(0, 0, 1, 1);
      &.yc-pagination-item-previous,
      &.yc-pagination-item-next {
        color: rgb(22, 93, 255);
      }
    }
    &.yc-pagination-item-disabled {
      color: rgb(201, 205, 212);
      cursor: not-allowed;
      background-color: transparent;
    }
    &.yc-pagination-item-active {
      color: rgb(22, 93, 255);
      background-color: rgb(232, 243, 255);
    }
  }
  .yc-pagination-options {
    &:deep(.yc-select) {
      width: 110px;
    }
  }
  .yc-pagination-jumper {
    display: flex;
    align-items: center;
    gap: 8px;
    &:deep(.yc-input-outer) {
      width: 40px;
      .yc-input-wrapper {
        padding-left: 2px;
        padding-right: 2px;

        .yc-input {
          text-align: center;
        }
      }
    }
    .yc-pagination-jumper-text-goto {
      color: rgb(134, 144, 156);
      white-space: nowrap;
    }
  }
}
// size
@size: {
  @mini: {
    font-size: 12px;
    item-size: 24px;
  };
  @small: {
    font-size: 14px;
    item-size: 28px;
  };
  @medium: {
    font-size: 14px;
    item-size: 32px;
  };
  @large: {
    font-size: 14px;
    item-size: 36px;
  };
};
each(@size, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .yc-pagination-size-@{key} {
    .yc-pagination-total {
      font-size:  @value[font-size];
      line-height:  @value[item-size];
    }
    .yc-pagination-item {
      min-width:  @value[item-size];
      height:  @value[item-size];
      font-size:  @value[font-size];
      line-height:  @value[item-size];
    }
    .yc-pagination-jumper > span {
      font-size:  @value[font-size];
    }
    
    & when (@key = mini) {
      .yc-pagination-options:deep(.yc-select) {
        width:  102px;
      }
    }
  }
});
