.yc-menu {
  position: relative;
  transition: width 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  .yc-menu-inner {
    overflow: auto;
    padding: 4px 8px;
    display: flex;
    gap: 4px;
  }
  .yc-menu-collapse-button {
    cursor: pointer;
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// mode
.yc-menu-mode-vertical,
.yc-menu-mode-pop {
  height: 100%;
  .yc-menu-inner {
    height: 100%;
    flex-direction: column;
  }
}
.yc-menu-mode-horizontal {
  width: 100%;
  .yc-menu-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 14px 20px 14px 32px;
    display: flex;
    align-items: center;

    &:deep(.yc-menu-inline) {
      flex-shrink: 0;
    }
  }
}
// theme
.set-theme(@bg,@btn-color,@btn-bg,@btn-hover-bg) {
  background-color: @bg;
  .yc-menu-collapse-button {
    color: @btn-color;
    background-color: @btn-bg;
    &:hover {
      background-color: @btn-hover-bg;
    }
  }
}
@theme: {
  light: .set-theme(#232324, #fff, rgb(22, 93, 255), rgb(14, 66, 210));
  dark: .set-theme(
    #fff,
    rgb(134, 144, 156),
    rgb(247, 248, 250),
    rgb(229, 230, 235)
  );
};
each(@theme,{
  .yc-menu-item-theme-@{key}{
    @value();
  }
});
