@component: yc-menu;
.@{component} {
  position: relative;
  transition: width 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  .@{component}-inner {
    overflow: auto;
    padding: 4px 8px;
    display: flex;
  }
  .@{component}-collapse-button {
    cursor: pointer;
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// mode
.@{component}-mode-vertical {
  height: 100%;
  .@{component}-inner {
    height: 100%;
    flex-direction: column;
    gap: 4px;
  }
}
.@{component}-mode-horizontal {
  width: 100%;
  .@{component}-inner {
    position: relative;
    overflow: hidden;
    min-height: 58px;
    width: 100%;
    padding: 14px 20px 14px 32px;
    display: flex;
    align-items: center;
    gap: 12px;

    &:deep(.@{component}-inline) {
      flex-shrink: 0;
    }
  }
}
// theme
@theme: {
  @light: {
    bg: #fff;
    btn-color: #fff;
    btn-bg: rgb(22, 93, 255);
    btn-hover-bg: rgb(14, 66, 210);
  };
  @dark: {
    bg: #232324;
    btn-color: rgb(134, 144, 156);
    btn-bg: rgb(247, 248, 250);
    btn-hover-bg: rgb(229, 230, 235);
  };
};
each(@theme, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .@{component}-theme-@{key} {
    background-color: @value[bg];
    .@{component}-collapse-button {
      color: @value[btn-color];
      background-color: @value[btn-bg];
      &:hover {
        background-color: @value[btn-hover-bg];
      }
    }
  }
});
