@component: yc-menu-group;
.@{component} {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .@{component}-title {
    max-width: 100%;
    padding: 0 12px;
    line-height: 40px;
    font-size: 14px;
    color: rgb(134, 144, 156);
    font-weight: 400;
  }
}
