.yc-menu-item {
  overflow: hidden;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 2px;
  min-height: 40px;
  line-height: 40px;
  color: rgb(78, 89, 105);
  font-size: 14px;
  transition: color 0.2s cubic-bezier(0, 0, 1, 1);
  display: flex;
  align-items: center;
  gap: 16px;
  .yc-menu-indent {
    margin-right: -16px;
  }
  .yc-menu-icon {
    line-height: 1;
  }
  .yc-menu-item-title {
    flex: 1;
    flex-shrink: 0;
  }
}
// 选中
.yc-menu-item-selected {
  font-weight: 500;
}
// 禁用
.yc-menu-item-disabled {
  color: rgb(201, 205, 212);
  background-color: #fff;
}
