.yc-menu-inline {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &:deep(.yc-menu-inline-header) {
    .yc-menu-item {
      &.yc-menu-item-selected {
        color: rgb(22, 93, 255);
        background-color: transparent;
        .yc-menu-icon {
          color: rgb(22, 93, 255);
        }
      }
      &.yc-menu-item-theme-light {
        &:hover {
          background-color: rgb(242, 243, 245);
        }
      }
      &.yc-menu-item-theme-dark {
        &:hover {
          background-color: rgba(255, 255, 255, 0.04);
        }
      }
    }
  }

  .yc-menu-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
