@component: yc-menu-inline;
.@{component} {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .@{component}-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
