@component: yc-checkbox-group;
.@{component}-direction-horizontal {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.@{component}-direction-vertical {
  display: flex;
  flex-direction: column;
  .yc-checkbox {
    line-height: 32px;
  }
}
