.yc-checkbox {
  position: relative;
  cursor: pointer;
  padding-left: 5px;
  font-size: 14px;
  line-height: unset;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  .yc-checkbox-target {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .yc-checkbox-icon,
  .yc-checkbox-label {
    flex-shrink: 0;
  }
  .yc-checkbox-icon {
    position: relative;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(229, 230, 235);
    border-radius: 2px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 6px;
      height: 2px;
      background: #fff;
      border-radius: 0.5px;
      transform: translateX(-50%) translateY(-50%) scale(0);
    }
  }
  .yc-checkbox-label {
    user-select: none;
    flex: 1;
    color: rgb(29, 33, 41);
  }
}

// 全选和半选
// transition: border-color 0.1s cubic-bezier(0, 0, 1, 1);
.yc-checkbox-unchecked {
  &:hover .yc-icon-button {
    &::before {
      background-color: rgba(242, 243, 245);
    }
    .yc-checkbox-icon {
      border-color: rgb(201, 205, 212);
    }
  }
}
.yc-checkbox-checked,
.yc-checkbox-indeterminate {
  .yc-checkbox-icon {
    border-color: transparent;
    background-color: rgb(22, 93, 255);
  }
  &.yc-checkbox-disabled {
    .yc-checkbox-icon {
      border-color: transparent;
      background-color: rgb(148, 191, 255);
    }
  }
}
// 半选
.yc-checkbox-indeterminate {
  .yc-checkbox-icon {
    transition: transform 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
    &::after {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }
}
// disabled
.yc-checkbox-disabled {
  cursor: not-allowed;
  .yc-checkbox-icon {
    border-color: rgb(229, 230, 235);
    background-color: rgb(242, 243, 245);
  }
  .yc-checkbox-label {
    color: rgb(201, 205, 212);
  }
}
