@component: yc-slider;
.@{component} {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  .@{component}-track {
    flex: 1;
    flex-shrink: 0;
    position: relative;

    &::before {
      display: block;
      content: '';
      position: absolute;
      border-radius: 2px;
      background-color: rgb(229, 230, 235);
    }
    .@{component}-bar {
      position: absolute;
      border-radius: 2px;
      background-color: rgb(22, 93, 255);
    }
    .@{component}-btn {
      z-index: 2;
      user-select: none;
      cursor: pointer;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      &:hover::before {
        box-shadow: 0 2px 5px #0000001a;
        transform: scale(1.16666667);
      }
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border: 2px solid rgb(22, 93, 255);
        border-radius: 50%;
        background: #fff;
        transition: all 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
      }
    }
  }
  .@{component}-input {
    display: flex;
    align-items: center;
    .@{component}-input-divider {
      margin: 0 6px;
      width: 8px;
      height: 2px;
      background: rgb(134, 144, 156);
    }
    &:deep(.yc-input-wrapper) {
      width: 65px;
      .yc-input {
        text-align: center;
      }
      .yc-input-suffix {
        padding-left: 0;
      }
    }
  }
  .@{component}-ticks,
  .@{component}-dots,
  .@{component}-marks {
    z-index: 1;
    position: absolute;
    //   tick
    .@{component}-tick {
      position: absolute;
      background: rgb(229, 230, 235);
      &.@{component}-tick-active {
        background-color: rgb(22, 93, 255);
      }
    }
    //   dot
    .@{component}-dot {
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border: 2px solid rgb(229, 230, 235);
      border-radius: 50%;
      &.@{component}-dot-active {
        background-color: #fff;
        border-color: rgb(22, 93, 255);
      }
    }
    //   mark
    .@{component}-mark {
      position: absolute;
      cursor: pointer;
      color: rgb(134, 144, 156);
      font-size: 14px;
      line-height: 1;
      user-select: none;
    }
  }
}
// direction
.@{component}-direction-horizontal {
  width: 100%;
  min-height: 32px;
  .@{component}-track {
    &::before,
    .@{component}-bar,
    .@{component}-btn {
      left: 0;
      top: 50%;
    }
    &::before,
    .@{component}-bar {
      transform: translateY(-50%);
    }
    &::before {
      height: 2px;
      width: 100%;
      right: 0;
    }
    .@{component}-bar {
      height: 2px;
    }
  }
  .@{component}-ticks,
  .@{component}-dots,
  .@{component}-marks {
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    .@{component}-tick {
      top: -4px;
      width: 1px;
      height: 3px;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
    }
    .@{component}-dot {
      transform: translateY(-50%);
    }
    &.@{component}-marks {
      transform: translateY(calc(-50% + 10px));
    }
  }
}
.@{component}-direction-vertical {
  height: 100%;
  min-width: 32px;
  flex-direction: column;

  .@{component}-track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before,
    .@{component}-bar,
    .@{component}-btn {
      bottom: 0;
      left: 50%;
    }
    &::before,
    .@{component}-bar {
      transform: translateX(-50%);
    }
    &::before {
      top: 0;
      width: 2px;
      height: 100%;
    }
    .@{component}-bar {
      width: 2px;
    }
  }
  .@{component}-ticks,
  .@{component}-dots,
  .@{component}-marks {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    &.@{component}-marks {
      transform: translateX(calc(-50% + 10px));
    }

    .@{component}-tick {
      left: 0;
      width: 3px;
      height: 1px;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
    }
    .@{component}-dot {
      transform: translateX(-50%);
    }
  }
}
// disabled
.@{component}-disabled {
  .@{component}-track {
    &::before {
      background-color: rgb(242, 243, 245);
    }
    .@{component}-bar {
      background-color: rgb(229, 230, 235);
    }
    .@{component}-btn {
      cursor: not-allowed;
      &::before {
        border-color: rgb(229, 230, 235);
      }
    }
  }
}
