@import './var.less';
.yc-button {
  cursor: pointer;
  user-select: none;
  outline: none;
  border: 1px solid transparent;
  font-weight: 400;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .yc-button-icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .yc-spin {
      font-size: inherit;
      color: inherit;
    }
  }
}

// loading
.yc-button-loading,
.yc-button-disabled {
  cursor: default;
  position: relative;

  &::before {
    content: '';
    display: block;
    z-index: 1;
    position: absolute;
    inset: -1px;
    background-color: #fff;
    opacity: 0.4;
  }
  &.yc-button-disabled {
    cursor: not-allowed;
  }
}
// loading
.yc-button-long {
  width: 100%;
}
// only-icon
.yc-button-only-icon {
  padding: 0;
  .yc-button-icon {
    margin: 0;
  }
}
