.yc-button-group {
  display: flex;
  align-items: center;
  .yc-button {
    flex-shrink: 0;
  }
  .yc-button {
    &:not(:first-child):not(:last-child) {
      border-radius: 0 !important;
    }
    &:first-child {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    &:last-child {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-right: none;
    }
  }
}

// type
.yc-button-group-primary,
.yc-button-group-secondary,
.yc-button-group-text {
  &.yc-button-group-primary {
    .yc-button:not(:last-child) {
      border-right: 1px solid rgb(64, 128, 255);
    }
  }
  &.yc-button-group-secondary {
    .yc-button:not(:last-child) {
      border-right: 1px solid rgb(229, 230, 235);
    }
  }
  //   warning
  &.yc-button-group-status-warning {
    .yc-button:not(:last-child) {
      border-right: 1px solid rgb(255, 154, 46);
    }
  }
  //   success
  &.yc-button-group-status-success {
    .yc-button:not(:last-child) {
      border-right: 1px solid rgb(35, 195, 67);
    }
  }
  //   danger
  &.yc-button-group-status-danger {
    .yc-button:not(:last-child) {
      border-right: 1px solid rgb(247, 101, 96);
    }
  }
}
.yc-button-group-dashed,
.yc-button-group-outline {
  .yc-button:not(:first-child) {
    border-left: none;
  }
}
