@component: yc-timeline-item;
.@{component} {
  position: relative;
  color: rgb(29, 33, 41);
  font-size: 14px;
  &:not(:last-child) {
    .@{component}-dot-line {
      position: absolute;
      border-color: rgb(229, 230, 235);
    }
  }
  .@{component}-dot-wrapper {
    position: absolute;

    .@{component}-dot-content {
      position: relative;

      .@{component}-dot {
        position: relative;
        width: 6px;
        height: 6px;
        color: rgb(22, 93, 255);
        border-radius: 50%;

        &.@{component}-dot-solid {
          background-color: rgb(22, 93, 255);
        }
        &.@{component}-dot-hollow {
          background-color: #fff;
          border: 2px solid rgb(22, 93, 255);
        }
      }
    }
  }
  .@{component}-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 4px;
    .@{component}-content {
      color: rgb(29, 33, 41);
      font-size: 14px;
      line-height: 1.5715;
    }
  }
  .@{component}-label {
    color: rgb(134, 144, 156);
    font-size: 12px;
    line-height: 1.667;
  }
}
// direction
.@{component}-direction-vertical {
  min-height: 78px;
  &:not(:last-child) {
    .@{component}-dot-line {
      top: 18px;
      bottom: -4px;
      left: 50%;
      transform: translate(-50%);
      width: 1px;
      border-left-width: 1px;
    }
  }
  .@{component}-dot-wrapper {
    height: 100%;
    text-align: center;
    .@{component}-dot-content {
      width: 6px;
      height: 22px;
      line-height: 22px;
      .@{component}-dot {
        top: 50%;
        margin-top: -50%;
      }
    }
  }
}
.@{component}-direction-horizontal {
  flex: 1;
  &:not(:last-child) {
    .@{component}-dot-line {
      right: 4px;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      border-top-width: 1px;
    }
  }
  .@{component}-dot-wrapper {
    width: 100%;
    .@{component}-dot-content {
      height: 6px;
      line-height: 6px;
    }
  }
}
// label-positon
.set-label-relative(@direction,@position) {
  &.@{component}-direction-@{direction} {
    &.@{component}-@{position} {
      margin-@{position}: if(@direction = vertical, 100px, 50px);
      .@{component}-label {
        @{position}: 0;
        & when(@position = left) {
          padding-right: 16px;
          transform: translateX(-100%);
        }
        & when(@position = right) {
          padding-left: 16px;
          transform: translateX(100%);
        }
        & when(@position = top) {
          padding-bottom: 16px;
          transform: translateY(-100%);
        }
        & when(@position = bottom) {
          padding-top: 16px;
          transform: translateY(100%);
        }
      }
      & when(@position = right) {
        .@{component}-content {
          text-align: right;
        }
      }
    }
  }
}
.@{component}-label-is-relative {
  .@{component}-label {
    position: absolute;
    top: 0;
    max-width: 100px;
  }
  &:not(.@{component}-alternate) {
    .set-label-relative(horizontal,top);
    .set-label-relative(horizontal,bottom);
    .set-label-relative(vertical,left);
    .set-label-relative(vertical,right);
  }
}
// 设置position
@positions: left, top, right, bottom;
.set-time-line-position(@position) {
  padding-@{position}: 6px;
  .@{component}-dot-wrapper {
    @{position}: 0;
  }
  .@{component}-content-wrapper {
    margin-@{position}: 16px;
  }
}
each(@positions,.(@value,@key){
    .@{component}-@{value}{
      .set-time-line-position(@value)
    }
  });
.@{component}-alternate {
  &.@{component}-direction-vertical {
    .set-time-line-position(left);
    &:nth-child(2n) {
      .@{component}-content-wrapper {
        width: fit-content;
        text-align: right;
        margin-left: calc(-50% - 22px);
      }
    }
    &.@{component}-label-is-relative {
      .@{component}-label {
        text-align: right;
        transform: translateX(calc(-100% - 22px));
      }
      &:nth-child(2n) {
        .@{component}-label {
          text-align: left;
          transform: translate(16px);
        }
      }
    }
  }

  &.@{component}-direction-horizontal {
    .set-time-line-position(top);
    &:nth-child(2n) {
      .@{component}-content-wrapper {
        margin-top: calc(-100% + 16px);
      }
    }
    &.@{component}-label-is-relative {
      .@{component}-label {
        transform: translateY(calc(-100% - 16px));
      }
      &:nth-child(2n) {
        .@{component}-content-wrapper {
          transform: translateY(20px);
        }
        .@{component}-label {
          transform: translateY(22px);
        }
      }
    }
  }
}
