@component: yc-timeline;
.@{component} {
  display: flex;
  flex-direction: column;
}

.@{component}-reverse {
  flex-direction: column-reverse;
}

.@{component}-direction-horizontal {
  flex-direction: row;
  &.@{component}-reverse {
    flex-direction: row-reverse;
  }
}
