@component: yc-page-header;
.@{component} {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .@{component}-wrapper {
    padding: 0 20px 0 24px;
    .@{component}-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 28px;
      .@{component}-main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .yc-icon-button {
          margin-right: 12px;
          color: rgb(78, 89, 105);
          font-size: 14px;
          &:deep(.yc-icon) {
            transform: rotate(180deg);
          }
        }
        .@{component}-title {
          color: rgb(29, 33, 41);
          font-weight: 600;
          font-size: 20px;
        }
        .@{component}-subtitle {
          color: rgb(134, 144, 156);
          font-size: 14px;
        }
      }
      .@{component}-extra {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  .@{component}-content {
    padding: 20px 32px;
    border-top: 1px solid rgb(229, 230, 235);
  }
}
