// wrapper
.yc-textarea-wrapper {
  position: relative;
  cursor: text;
  width: 100%;
  height: fit-content;
  background-color: rgb(242, 243, 245);
  border: 1px solid transparent;
  border-radius: 2px;
  transition:
    color 0.1s cubic-bezier(0, 0, 1, 1),
    border-color 0.1s cubic-bezier(0, 0, 1, 1),
    background-color 0.1s cubic-bezier(0, 0, 1, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5715;
  color: rgb(29, 33, 41);
  overflow: hidden;
  &:hover .yc-textarea-clear-button {
    visibility: visible;
  }
  .yc-textarea-word-limit {
    position: absolute;
    right: 10px;
    bottom: 6px;
    user-select: none;
    color: rgb(134, 144, 156);
    font-size: 12px;
  }
  .yc-textarea-clear-button {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .yc-textarea,
  .yc-textarea-mirror {
    display: block;
    width: 100%;
    padding: 4px 12px;
    min-height: 32px;
    cursor: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
    border: none;
    border-radius: none;
    background-color: transparent;
  }
  .yc-textarea {
    resize: vertical;
    &::placeholder {
      color: rgb(134, 144, 156);
    }
  }
  .yc-textarea-mirror {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      PingFang SC,
      Hiragino Sans GB,
      noto sans,
      Microsoft YaHei,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-variant: normal;
    letter-spacing: normal;
    text-indent: 0;
    text-rendering: auto;
    text-transform: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}
// auto-size
.yc-textarea-auto-size {
  .yc-textarea {
    resize: none;
  }
}
// hoverable
.yc-textarea-hoverable {
  &:hover {
    background-color: rgb(229, 230, 235);
    border-color: transparent;
  }
  &.yc-textarea-error {
    &:hover {
      background-color: rgb(253, 205, 197);
      border-color: transparent;
    }
  }
}
// focus error
.yc-textarea-wrapper {
  // focus
  &.yc-textarea-focus {
    background-color: #fff;
    border-color: rgb(22, 93, 255);
    box-shadow: 0 0 0 0 rgb(190, 218, 255);
  }
  // error
  &.yc-textarea-error {
    background-color: rgb(255, 236, 232);
    &.yc-textarea-focus {
      border-color: rgb(245, 63, 63);
      box-shadow: 0 0 0 0 rgb(253, 205, 197);
    }
  }
}
// disabled
.yc-textarea-disabled {
  cursor: not-allowed;
  border-color: transparent;
  background-color: rgb(242, 243, 245);
  color: rgb(201, 205, 212);
}
