@component: yc-switch;
.@{component} {
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 20px;
  vertical-align: middle;
  transition: background-color 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  .@{component}-handle {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    .@{component}-handle-icon {
      font-size: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      .yc-spin {
        font-size: inherit;
        color: inherit;
      }
    }
  }
  .@{component}-text {
    position: absolute;
    font-size: 12px;
  }
  .@{component}-placeholder {
    visibility: hidden;
    font-size: 12px;
    margin: 0 8px 0 26px;
  }
}
// unchecked
.@{component}-unchecked {
  .@{component}-handle {
    background-color: #fff;
    color: rgb(229, 230, 235);
  }
  .@{component}-text {
    left: 26px;
    color: #fff;
  }
}
// checked
.@{component}-checked {
  .@{component}-handle {
    background-color: #fff;
    color: rgb(22, 93, 255);
  }
  .@{component}-text {
    left: 8px;
    color: #fff;
  }
  .@{component}-placeholder {
    margin: 0 26px 0 8px;
  }
}
// loading disabled
.@{component}-loading,
.@{component}-disabled {
  &.@{component}-unchecked {
    background-color: rgb(242, 243, 245);
    &::after {
      background-color: rgb(242, 243, 245);
    }
    .@{component}-handle {
      color: rgb(229, 230, 235);
    }
    .@{component}-text {
      color: #fff;
    }
  }
  &.@{component}-checked {
    background-color: rgb(148, 191, 255);
    &::after {
      background-color: rgb(148, 191, 255);
    }
    .@{component}-handle {
      color: rgb(148, 191, 255);
    }
    .@{component}-text {
      color: rgb(232, 243, 255);
    }
  }
}
.@{component}-disabled {
  cursor: not-allowed;
}
// size
.@{component}-size-small {
  min-width: 28px;
  height: 16px;
  line-height: 16px;
  .@{component}-handle {
    left: 2px;
    width: 12px;
    height: 12px;
    font-size: 8px;
  }
  &.@{component}-checked {
    .@{component}-handle {
      left: calc(100% - 14px);
    }
  }
  &.@{component}-shape-line {
    min-width: 28px;
    height: 16px;
    line-height: 16px;
    .@{component}-handle {
      width: 16px;
      height: 16px;
    }
    &.@{component}-checked {
      .@{component}-handle {
        left: calc(100% - 16px);
      }
    }
  }
}
.@{component}-size-medium {
  min-width: 40px;
  height: 24px;
  line-height: 24px;
  .@{component}-handle {
    left: 4px;
    width: 16px;
    height: 16px;
    font-size: 12px;
  }
  &.@{component}-checked {
    .@{component}-handle {
      left: calc(100% - 20px);
    }
  }
  &.@{component}-shape-line {
    min-width: 36px;
    overflow: unset;
    .@{component}-handle {
      left: 0;
      width: 20px;
      height: 20px;
    }
    &.@{component}-checked {
      .@{component}-handle {
        left: calc(100% - 20px);
      }
    }
  }
}
// type-line
.@{component}-shape-line {
  background: transparent;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    border-radius: 3px;
  }
  .@{component}-handle {
    box-shadow: 0 1px 3px rgb(134, 144, 156);
  }
}
.@{component}-shape-round {
  border-radius: 2px;
  .@{component}-handle {
    border-radius: 2px;
  }
}
