@component: yc-split;
.@{component} {
  display: flex;
  .@{component}-pane {
    overflow: auto;
  }
  .@{component}-pane-second {
    flex: 1;
  }

  .@{component}-trigger {
    .@{component}-trigger-icon-wrapper {
      color: rgb(29, 33, 41);
      font-size: 12px;
      line-height: 1;
      background-color: rgb(229, 230, 235);
      display: flex;
      align-items: center;
      justify-content: center;

      .@{component}-trigger-icon {
        margin: 0 -3px;
      }
    }
  }
}
// direction
.@{component}-direction-horizontal {
  flex-direction: row;
  .@{component}-trigger {
    cursor: col-resize;
    .@{component}-trigger-icon-wrapper {
      height: 100%;
    }
  }
}
.@{component}-direction-vertical {
  flex-direction: column;
  .@{component}-trigger {
    cursor: row-resize;
    .@{component}-trigger-icon-wrapper {
      width: 100%;
    }
  }
}
