.yc-steps-item {
  position: relative;
  &,
  .yc-steps-item-title,
  .yc-steps-item-description {
    white-space: nowrap;
  }
  .yc-steps-item-node {
    font-weight: 500;
    font-size: 16px;
    .yc-steps-icon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .yc-steps-item-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .yc-steps-item-title {
      width: fit-content;
      line-height: 28px;
      font-size: 16px;
      color: rgb(29, 33, 41);
      transition: all 0.1s cubic-bezier(0, 0, 1, 1);
    }
    .yc-steps-item-description {
      max-width: 140px;
      font-size: 12px;
      color: rgb(134, 144, 156);
      transition: all 0.1s cubic-bezier(0, 0, 1, 1);
    }
  }
}
//size
.yc-steps-item-size-small {
  .yc-steps-item-node {
    font-size: 14px;
    .yc-steps-icon {
      width: 24px;
      height: 24px;
    }
  }
  .yc-steps-item-content {
    .yc-steps-item-title {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
// active
.yc-steps-item-active {
  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    right: 30px;
    left: 0;
    bottom: 0;
  }
  &.yc-steps-item-finish {
    &::after {
      background-color: rgb(232, 243, 255);
    }
  }
  &.yc-steps-item-wait {
    &::after {
      background-color: rgb(247, 248, 250);
    }
  }
  &.yc-steps-item-error {
    &::after {
      background-color: rgb(245, 63, 63);
    }
  }
  &.yc-steps-item-process {
    &::after {
      background-color: rgb(22, 93, 255);
    }
  }
}
// next-status
.yc-steps-item-next-wait {
  &,
  .yc-steps-item-title {
    &::after {
      background-color: rgb(229, 230, 235);
    }
  }
}
.yc-steps-item-next-process,
.yc-steps-item-next-finish {
  &,
  .yc-steps-item-title {
    &::after {
      background-color: rgb(22, 93, 255);
    }
  }
}
.yc-steps-item-next-error {
  &,
  .yc-steps-item-title {
    &::after {
      background-color: rgb(245, 63, 63);
    }
  }
}
