.yc-progress {
  position: relative;
  line-height: 1;
  font-size: 12px;
  // steps
  .yc-progress-steps-wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    .yc-progress-steps {
      width: 100%;
      display: flex;
      gap: 3px;
      .yc-progress-steps-item {
        position: relative;
        flex: 1;
        flex-shrink: 0;
        height: 100%;
      }
    }
  }
  // line
  .yc-progress-line-wrapper {
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    .yc-progress-line {
      overflow: hidden;
      position: relative;
      width: 100%;
      border-radius: 100px;
      .yc-progress-line-bar {
        position: relative;
        height: 100%;
        border-radius: 100px;
        transition:
          width 0.6s cubic-bezier(0.34, 0.69, 0.1, 1),
          background 0.3s cubic-bezier(0.34, 0.69, 0.1, 1);
      }
    }
    .yc-progress-line-text {
      min-width: 32px;
    }
  }
  // circle
  .yc-progress-circle-wrapper {
    position: relative;
    text-align: center;
    line-height: 1;
    display: inline-block;
    vertical-align: text-bottom;
    .yc-progress-circle-svg {
      transform: rotate(-90deg);
      .yc-progress-circle-bar {
        transition:
          stroke-dashoffset 0.6s cubic-bezier(0, 0, 1, 1) 0s,
          stroke 0.6s cubic-bezier(0, 0, 1, 1);
      }
    }
    .yc-progress-circle-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(134, 144, 156);
    }
  }
  // 通用
  .yc-progress-steps-item {
    background-color: rgb(229, 230, 235);
  }
  .yc-progress-line {
    background-color: rgb(229, 230, 235);
  }
  .yc-progress-circle-bg {
    stroke: rgb(229, 230, 235);
  }
  .yc-progress-steps-text,
  .yc-progress-line-text,
  .yc-progress-circle-text {
    flex-shrink: 0;
    font-size: 12px;
    color: rgb(78, 89, 105);
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
// type
.yc-progress-type-line,
.yc-progress-type-steps {
  display: inline-block;
  max-width: 100%;
  width: 100%;
}
// size
@size: {
  @small: {
    line-text-size: 12px;
    circle-text-size: 12px;
    icon-size: null;
  };
  @medium: {
    line-text-size: 12px;
    circle-text-size: 14px;
    icon-size: null;
  };
  @large: {
    line-text-size: 16px;
    circle-text-size: 16px;
    icon-size: 14px;
  };
};
each(@size, .(@size,@name){
  @key:replace(~"@{name}", "@", "");
  .yc-progress-size-@{key} {
    .yc-progress-line-text {
      font-size: @size[line-text-size];
    }
    .yc-progress-circle-text {
      font-size: @size[circle-text-size];
      
      & when not (@size[icon-size] = null) {
        .yc-icon {
          font-size: @size[icon-size];
        }
      }
    }
    // 处理step size为small的情况
    & when(@key = small){
      width: auto;
      .yc-progress-steps-wrapper {
        .yc-progress-steps {
          .yc-progress-steps-item {
            width: 2px;
            flex: unset ;
          }
        }
      }
    }
  }
});
// status
@status: {
  @normal: {
    color: rgb(22, 93, 255);
    mini-bg-color: rgb(148, 191, 255);
  };
  @success: {
    color: rgb(0, 180, 42);
    mini-bg-color: null;
  };
  @warning: {
    color: rgb(255, 125, 0);
    mini-bg-color: rgb(255, 207, 139);
  };
  @danger: {
    color: rgb(245, 63, 63);
    mini-bg-color: rgb(251, 172, 163);
  };
};

each(@status, .(@value,@name){
  @key: replace(~"@{name}", "@", "");
  .yc-progress-status-@{key} {
    .yc-progress-steps-item-active,
    .yc-progress-line-bar {
      background-color: @value[color];
    }
    .yc-progress-circle-bar {
      stroke: @value[color];
    }
    & when not (@key = success) and not (@value[mini-bg-color] = null) {
      &.yc-progress-size-mini {
        .yc-progress-circle-bg {
          stroke: @value[mini-bg-color];
        }
      }
    }
  }
});
