.yc-typography {
  margin-top: 0;
  margin-bottom: 1em;
}
// blockquote
.yc-typography blockquote {
  margin: 0 0 1em;
  padding-left: 8px;
  background-color: #fff;
  border-left: 2px solid rgb(134, 144, 156);
}
// spacing
.yc-typography-spacing-close {
  line-height: 1.3;
}
