.yc-typography {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 500;
}
// style
h1.yc-typography {
  font-size: 36px;
  line-height: 1.23;
}
h2.yc-typography {
  font-size: 32px;
  line-height: 1.25;
}
h3.yc-typography {
  font-size: 28px;
  line-height: 1.29;
}
h4.yc-typography {
  font-size: 24px;
  line-height: 1.33;
}
h5.yc-typography {
  font-size: 20px;
  line-height: 1.4;
}
h6.yc-typography {
  font-size: 16px;
  line-height: 1.5;
}
