.yc-typography {
  color: rgb(29, 33, 41);
  line-height: 1.5715;
  white-space: normal;
  overflow-wrap: anywhere;
  ul {
    list-style: circle;
  }
  ul li {
    margin-left: 20px;
  }
}
