@component: yc-modal;
.@{component}-container {
  inset: 0 0 0 0;
  z-index: 1001;
  position: fixed;
  .@{component}-mask {
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(29, 33, 41, 0.6);
  }
  .@{component}-wrapper {
    position: absolute;
    inset: 0 0 0 0;
    overflow: auto;

    .@{component} {
      position: absolute;
      border-radius: 4px;
      background-color: #fff;
      line-height: 1.5715;
      display: flex;
      flex-direction: column;
      // 全屏
      &.@{component}-fullscreen {
        height: 100%;
        .@{component}-body {
          flex: 1;
        }
      }
      // 推拽
      &.@{component}-draggable {
        .@{component}-header {
          cursor: move;
          user-select: none;
        }
      }
      .@{component}-footer,
      .@{component}-body,
      .@{component}-header,
      .@{component}-title,
      .@{component}-close-button {
        flex-shrink: 0;
      }
      .@{component}-header {
        height: 48px;
        width: 100%;
        padding: 0 20px;
        border-bottom: 1px solid rgb(229, 230, 235);
        display: flex;
        align-items: center;
        .@{component}-title {
          flex: 1;
          span {
            font-size: 16px;
            font-weight: 500;
            color: rgb(29, 33, 41);
          }
          &.title-align-center {
            text-align: center;
          }
        }
        .@{component}-close-button {
          margin-left: -12px;
        }
      }
      .@{component}-body {
        padding: 24px 20px;
        color: rgb(29, 33, 41);
        font-size: 14px;
      }
      .@{component}-footer {
        height: 64px;
        width: 100%;
        padding: 16px 20px;
        border-top: 1px solid rgb(229, 230, 235);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
      }
    }
  }
}

.@{component}-position-absolute {
  position: absolute;
}

.@{component}-simple {
  .@{component}-wrapper {
    .@{component} {
      width: 400px;
      padding: 24px 32px 32px;
      .@{component}-header,
      .@{component}-footer,
      .@{component}-body {
        height: unset;
        padding: 0;
        border: none;
        &.@{component}-header {
          margin-bottom: 24px;
        }
        &.@{component}-footer {
          margin-top: 24px;
          justify-content: center;
        }
      }
    }
  }
}
