@component: yc-anchor;
.@{component} {
  position: relative;
  width: 150px;
  overflow: auto;
  .@{component}-line-slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 2px;
    height: 12px;
    background-color: rgb(22, 93, 255);
    transition: top 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  }
  .@{component}-line-track {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(229, 230, 235);
  }

  .@{component}-list {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
