// hoverable
.yc-input-hoverable {
  &:hover {
    border-color: transparent;
    background-color: rgb(229, 230, 235);
  }
  &:hover .yc-input-clear-button {
    visibility: visible;
  }
  &.yc-input-error {
    &:hover {
      border-color: transparent;
      background-color: rgb(253, 205, 197);
    }
  }
}
// disabled
.yc-input-disabled {
  background-color: rgb(242, 243, 245);
  border-color: transparent;
  cursor: not-allowed;
  color: rgb(201, 205, 212);
  .yc-input-prefix,
  .yc-input-suffix {
    color: inherit;
  }
}
// error
.yc-input-error {
  background-color: rgb(255, 236, 232);
  &:focus-within {
    border-color: rgb(245, 63, 63) !important;
    box-shadow: 0 0 0 0 rgb(253, 205, 197);
  }
}
//size
.yc-input-size-mini {
  font-size: 12px;
  padding: 1px 0;
  font-size: 12px;
  line-height: 1.667;
}
.yc-input-size-small {
  padding: 2px 0;
  font-size: 14px;
  line-height: 1.5715;
}
.yc-input-size-medium {
  padding: 4px 0;
  font-size: 14px;
  line-height: 1.5715;
}
.yc-input-size-large {
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.5715;
}
