@component: yc-trigger;
.@{component} {
  position: absolute;
  z-index: 1001;
  .@{component}-arrow {
    z-index: -1;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #fff;
  }
}

// arrow
.@{component} {
  &.@{component}-position-top,
  &.@{component}-position-tl,
  &.@{component}-position-tr {
    .@{component}-arrow {
      transform: translate(-50%, 50%) rotate(45deg);
      border-bottom-right-radius: 2px;
      border-top: none;
      border-left: none;
    }
  }
  &.@{component}-position-bottom,
  &.@{component}-position-bl,
  &.@{component}-position-br {
    .@{component}-arrow {
      transform: translate(-50%, -50%) rotate(45deg);
      border-top-left-radius: 2px;
      border-bottom: none;
      border-right: none;
    }
  }
  &.@{component}-position-left,
  &.@{component}-position-lt,
  &.@{component}-position-lb {
    .@{component}-arrow {
      transform: translate(50%, -50%) rotate(45deg);
      border-top-right-radius: 2px;
      border-bottom: none;
      border-left: none;
    }
  }
  &.@{component}-position-right,
  &.@{component}-position-rt,
  &.@{component}-position-rb {
    .@{component}-arrow {
      transform: translate(-50%, -50%) rotate(45deg);
      border-bottom-left-radius: 2px;
      border-top: none;
      border-right: none;
    }
  }
}
// transform-origin
@trigger-positions: {
  top: 50% 100%;
  tl: 0 100%;
  tr: 100% 100%;
  bottom: 50% 0;
  bl: 0 0;
  br: 100% 0;
  right: 0 50%;
  rt: 0 50%;
  rb: 0 100%;
  left: 100% 50%;
  lt: 100% 0;
  lb: 100% 100%;
};
.@{component}-transform-origin {
  each(@trigger-positions, .(@origin, @position) {
    &.@{component}-position-@{position} {
      .@{component}-content {
        transform-origin: @origin;
      }
    }
  });
}
