@component: yc-skeleton;
// shape
.@{component}-shape {
  background-color: rgb(242, 243, 245);
}
// size
@size: {
  mini: 48px;
  small: 36px;
  medium: 48px;
  large: 60px;
};
// Generate Size Classes
each(@size, {
  .@{component}-shape-size-@{key} {
    width: @value;
    height:@value;
  }
});
// shape
@shape: {
  square: 2px;
  circle: 50%;
};
each(@shape, {
  .@{component}-shape-shape-@{key} {
    border-radius: @value;
  }
});
// line
.@{component}-line {
  width: 100%;
  display: flex;
  flex-direction: column;
  .@{component}-line-row {
    background-color: rgb(242, 243, 245);
  }
}

// animation
.@{component}-animation {
  @keyframes skeleton-circle {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  .@{component}-shape,
  .@{component}-line:deep(.@{component}-line-row) {
    background: linear-gradient(
      90deg,
      rgb(242, 243, 245) 25%,
      rgb(229, 230, 235) 37%,
      rgb(242, 243, 245) 63%
    );
    background-size: 400% 100%;
    animation: skeleton-circle 1.5s cubic-bezier(0, 0, 1, 1) infinite;
  }
}
