@component: yc-tabs;
.@{component} {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  .@{component}-nav {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    .@{component}-nav-tab {
      &:deep(.@{component}-nav-button) {
        flex-shrink: 0;
        margin-right: 6px;
        margin-left: 10px;
      }
      .@{component}-nav-tab-list {
        position: relative;
        transition: transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
        display: flex;
        align-items: center;
        overflow: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        .@{component}-nav-ink {
          position: absolute;
          background-color: rgb(22, 93, 255);
          border-radius: 2px;
        }
      }
    }
    .@{component}-nav-extra {
      .@{component}-tab-add-btn {
        padding: 0 8px;
        font-size: 12px;
      }
    }
  }
  .@{component}-content {
    width: 100%;
    overflow: hidden;
  }
}
// justify
.@{component}-justify {
  height: 100%;
}
.@{component}-animation {
  .@{component}-content-list {
    transition: all 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  }
}
// direction
.@{component}-horizontal {
  flex-direction: column;
  .@{component}-nav {
    width: 100%;
    .@{component}-nav-tab {
      flex: 1;
      display: flex;
      .@{component}-nav-tab-list {
        flex: 1;
        .@{component}-nav-ink {
          bottom: 0;
          height: 2px;
          transition:
            left 0.2s cubic-bezier(0.34, 0.69, 0.1, 1),
            width 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
        }
      }
    }
  }
  .@{component}-content {
    padding-top: 16px;
    width: 100%;
    .@{component}-content-list {
      display: flex;
      width: 100%;
      .@{component}-content-item {
        flex-shrink: 0;
        width: 100%;
      }
    }
  }
}
.@{component}-vertical {
  .@{component}-nav {
    .@{component}-nav-tab {
      .@{component}-nav-tab-list {
        width: fit-content;
        flex-direction: column;
        .@{component}-tab {
          width: 100%;
          .@{component}-tab-title {
            width: 100%;
          }
        }
        .@{component}-nav-ink {
          right: 0;
          width: 2px;
          transition:
            top 0.2s cubic-bezier(0.34, 0.69, 0.1, 1),
            height 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
        }
      }
    }
  }
  .@{component}-content {
    flex: 1;
  }
  &:not(.@{component}-type-card):not(.@{component}-type-card-gutter) {
    .@{component}-nav {
      .@{component}-nav-tab {
        .@{component}-nav-tab-list {
          gap: 12px;
        }
      }
    }
  }
  .@{component}-content {
    padding-left: 16px;
    height: 100%;
    .@{component}-content-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      .@{component}-content-item {
        flex-shrink: 0;
        height: 100%;
      }
    }
  }
}
// position
.@{component}-right {
  flex-direction: row-reverse;
  .@{component}-nav {
    &::before {
      left: 0;
      right: unset;
    }
    .@{component}-nav-tab {
      .@{component}-nav-tab-list {
        .@{component}-nav-ink {
          left: 0;
          right: unset;
        }
      }
    }
  }
  .@{component}-content {
    padding-left: 0;
    padding-right: 16px;
  }
}
.@{component}-bottom {
  flex-direction: column-reverse;
  .@{component}-nav {
    &::before {
      top: 0;
    }
    .@{component}-nav-tab {
      .@{component}-nav-tab-list {
        .@{component}-nav-ink {
          top: 0;
          bottom: unset;
        }
      }
    }
  }
  .@{component}-content {
    padding-right: 0;
    padding-bottom: 16px;
  }
}
// type
.@{component}-type-card,
.@{component}-type-card-gutter,
.@{component}-type-line {
  &.@{component}-horizontal {
    .@{component}-nav {
      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 1px;
        background-color: rgb(229, 230, 235);
      }
    }
  }
  &.@{component}-vertical {
    .@{component}-nav {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background-color: rgb(229, 230, 235);
      }
    }
  }
  &:not(.@{component}-type-line) {
    &.@{component}-horizontal {
      .@{component}-content {
        border: 1px solid rgb(229, 230, 235);
        border-top: none;
      }
      &.@{component}-bottom {
        .@{component}-content {
          border-top: 1px solid rgb(229, 230, 235);
          border-bottom: none;
        }
      }
    }
    &.@{component}-vertical {
      border: 1px solid rgb(229, 230, 235);
      border-left: none;
      &.@{component}-right {
        border-left: 1px solid rgb(229, 230, 235);
        border-right: none;
      }
    }
  }
}
.@{component}-type-card-gutter {
  .@{component}-nav {
    .@{component}-nav-tab {
      .@{component}-nav-tab-list {
        gap: 4px;
      }
    }
  }
}
.@{component}-type-capsule {
  .@{component}-nav {
    .@{component}-nav-tab {
      justify-content: flex-end;
      .@{component}-nav-tab-list {
        flex: unset;
        padding: 3px;
        background-color: rgb(242, 243, 245);
        border-radius: 2px;
        line-height: 1;
        gap: 3px;
      }
    }
  }
}
