@component: yc-color-picker;
// panel
.@{component}-panel {
  overflow: hidden;
  width: 260px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 8px 20px #0000001a;

  .@{component}-palette {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 178px;
    background-image: linear-gradient(0deg, #000000, transparent),
      linear-gradient(90deg, #ffffff, rgba(255, 255, 255, 0));
    border: 1px solid rgb(229, 230, 235);
    border-bottom: 0;
    .@{component}-handler {
      position: absolute;
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      transform: translate(-50%, -50%);
    }
  }
  .@{component}-panel-control {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .@{component}-control-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(.@{component}-preview) > div {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .@{component}-control-bar {
        cursor: pointer;
        position: relative;
        width: 182px;
        height: 14px;
        border-radius: 10px;
        border: 1px solid rgb(229, 230, 235);
        background-image: linear-gradient(
          90deg,
          #f00 0,
          #ff0 17%,
          #0f0 33%,
          #0ff 50%,
          #00f 67%,
          #f0f 83%,
          #f00
        );
        .@{component}-control-bar-handler {
          user-select: none;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid rgb(229, 230, 235);
          &::before {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            background: currentColor;
            border-radius: 50%;
          }
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 50%;
          }
        }
      }
      .@{component}-control-bar-bg {
        width: fit-content;
        height: fit-content;
        background-image: conic-gradient(
          rgba(0, 0, 0, 0.06) 0 25%,
          transparent 0 50%,
          rgba(0, 0, 0, 0.06) 0 75%,
          transparent 0
        );
        background-size: 8px 8px;
        border-radius: 10px;
      }
      .@{component}-preview {
        width: 40px;
        height: 40px;
        border: 1px solid rgb(229, 230, 235);
        border-radius: 4px;
      }
    }
    .@{component}-input-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;

      &:deep(.yc-input-wrapper) {
        padding: 0 6px;
        .yc-input-suffix {
          padding-left: 0;
        }
      }
      .@{component}-format {
        &:deep(.yc-select) {
          width: 58px;
        }
      }
      .@{component}-color {
        flex: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        &:deep(.yc-input-wrapper) {
          border-radius: 0;
          border-right-color: rgb(229, 230, 235);
          .yc-input-prefix {
            padding-right: 6px;
          }
          &:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }
          &:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-right-color: transparent;
          }
          &:focus-within:not(.yc-input-disabled) {
            border-radius: 2px;
            border-right-color: #165dff;
          }
          &.yc-input-number {
            .yc-input {
              text-align: center;
            }
          }
        }
        .rgb-input,
        .hex-input {
          flex: 1;
        }
        .alpha-input {
          width: 52px;
        }
      }
    }
  }
  .@{component}-panel-colors {
    padding: 12px;
    border-top: 1px solid rgb(229, 230, 235);
    display: flex;
    flex-direction: column;
    gap: 12px;
    .@{component}-colors-section {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .@{component}-colors-text {
        color: rgb(29, 33, 41);
        font-weight: 400;
        font-size: 12px;
      }
      .@{component}-colors-empty {
        margin: 6px 0 0 0;
        color: rgb(134, 144, 156);
        font-size: 12px;
      }
      .@{component}-colors-list {
        display: flex;
        flex-wrap: wrap;
        gap: 6px 4px;
        .@{component}-color-block {
          cursor: pointer;
          width: 16px;
          height: 16px;
          overflow: hidden;
          background-image: conic-gradient(
            rgba(0, 0, 0, 0.06) 0 25%,
            transparent 0 50%,
            rgba(0, 0, 0, 0.06) 0 75%,
            transparent 0
          );
          background-size: 8px 8px;
          border-radius: 2px;
          transition: transform ease-out 60ms;
          &:hover {
            transform: scale(1.1);
          }
          .@{component}-block {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
// disabled
.@{component}-panel-disabled {
  cursor: not-allowed;
  .@{component}-palette {
    cursor: not-allowed;
  }
  .@{component}-panel-control {
    .@{component}-control-wrapper {
      .@{component}-control-bar {
        cursor: not-allowed;
      }
    }
  }
}

// picker
.@{component} {
  cursor: pointer;
  padding: 4px;
  background-color: rgb(242, 243, 245);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  &:hover {
    background-color: rgb(229, 230, 235);
  }
  .@{component}-preview {
    width: 24px;
    height: 24px;
    color: rgb(29, 33, 41);
    font-weight: 400;
  }
}
// size
@size: {
  @mini: {
    font-size: 12px;
    padding-bottom: 2px;
    bordered-padding: 3px;
  };
  @small: {
    font-size: 14px;
    padding-bottom: 4px;
    bordered-padding: 3px;
  };
  @medium: {
    font-size: 14px;
    padding-bottom: 8px;
    bordered-padding: 5px;
  };
  @large: {
    font-size: 14px;
    padding-bottom: 16px;
    bordered-padding: 9px;
  };
};
each(@size, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .yc-descriptions-item-cell-size-@{key} {
    font-size: @value[font-size];
    padding: 0 20px @value[padding-bottom] 0;
    
    &.yc-descriptions-item-cell-bordered {
      padding: @value[bordered-padding] 20px;
    }
  }
});
