// panel
.yc-color-picker-panel {
  overflow: hidden;
  width: 260px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 8px 20px #0000001a;

  .yc-color-picker-palette {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 178px;
    background-image: linear-gradient(0deg, #000000, transparent),
      linear-gradient(90deg, #ffffff, rgba(255, 255, 255, 0));
    border: 1px solid rgb(229, 230, 235);
    border-bottom: 0;
    .yc-color-picker-handler {
      position: absolute;
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      transform: translate(-50%, -50%);
    }
  }
  .yc-color-picker-panel-control {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .yc-color-picker-control-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .yc-color-picker-control-bar {
        cursor: pointer;
        position: relative;
        width: 182px;
        height: 14px;
        border-radius: 10px;
        border: 1px solid rgb(229, 230, 235);
        background-image: linear-gradient(
          90deg,
          #f00 0,
          #ff0 17%,
          #0f0 33%,
          #0ff 50%,
          #00f 67%,
          #f0f 83%,
          #f00
        );
        .yc-color-picker-control-bar-handler {
          user-select: none;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid rgb(229, 230, 235);
          &::before {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            background: currentColor;
            border-radius: 50%;
          }
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 50%;
          }
        }
      }
      .yc-color-picker-control-bar-bg {
        width: fit-content;
        height: fit-content;
        background-image: conic-gradient(
          rgba(0, 0, 0, 0.06) 0 25%,
          transparent 0 50%,
          rgba(0, 0, 0, 0.06) 0 75%,
          transparent 0
        );
        background-size: 8px 8px;
        border-radius: 10px;
      }
      .yc-color-picker-preview {
        width: 40px;
        height: 40px;
        border: 1px solid rgb(229, 230, 235);
        border-radius: 4px;
      }
    }
    .yc-color-picker-input-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;

      &:deep(.yc-input-wrapper) {
        padding: 0 6px;
        .yc-input-suffix {
          padding-left: 0;
        }
      }
      .yc-color-picker-format {
        &:deep(.yc-select) {
          width: 58px;
        }
      }
      .yc-color-picker-color {
        flex: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        &:deep(.yc-input-wrapper) {
          border-radius: 0;
          border-right-color: rgb(229, 230, 235);
          .yc-input-prefix {
            padding-right: 6px;
          }
          &:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }
          &:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-right-color: transparent;
          }
          &:focus-within:not(.yc-input-disabled) {
            border-radius: 2px;
            border-right-color: #165dff;
          }
          &.yc-input-number {
            .yc-input {
              text-align: center;
            }
          }
        }
        .rgb-input,
        .hex-input {
          flex: 1;
        }
        .alpha-input {
          width: 52px;
        }
      }
    }
  }
  .yc-color-picker-panel-colors {
    padding: 12px;
    border-top: 1px solid rgb(229, 230, 235);
    display: flex;
    flex-direction: column;
    gap: 12px;
    .yc-color-picker-colors-section {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .yc-color-picker-colors-text {
        color: rgb(29, 33, 41);
        font-weight: 400;
        font-size: 12px;
      }
      .yc-color-picker-colors-empty {
        margin: 6px 0 0 0;
        color: rgb(134, 144, 156);
        font-size: 12px;
      }
      .yc-color-picker-colors-list {
        display: flex;
        flex-wrap: wrap;
        gap: 6px 4px;
        .yc-color-picker-color-block {
          cursor: pointer;
          width: 16px;
          height: 16px;
          overflow: hidden;
          background-image: conic-gradient(
            rgba(0, 0, 0, 0.06) 0 25%,
            transparent 0 50%,
            rgba(0, 0, 0, 0.06) 0 75%,
            transparent 0
          );
          background-size: 8px 8px;
          border-radius: 2px;
          transition: transform ease-out 60ms;
          &:hover {
            transform: scale(1.1);
          }
          .yc-color-picker-block {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
// disabled
.yc-color-picker-panel-disabled {
  cursor: not-allowed;
  .yc-color-picker-palette {
    cursor: not-allowed;
  }
  .yc-color-picker-panel-control {
    .yc-color-picker-control-wrapper {
      .yc-color-picker-control-bar {
        cursor: not-allowed;
      }
    }
  }
}

// picker
.yc-color-picker {
  cursor: pointer;
  padding: 4px;
  background-color: rgb(242, 243, 245);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  &:hover {
    background-color: rgb(229, 230, 235);
  }
  .yc-color-picker-preview {
    width: 24px;
    height: 24px;
    color: rgb(29, 33, 41);
    font-weight: 400;
  }
}
// size
.set-color-picker-size(@height, @font-size, @padding) {
  height: @height;
  font-size: @font-size;
  padding: @padding;
}
@color-picker-sizes: {
  mini: .set-color-picker-size(24px, 12px, 4px);
  small: .set-color-picker-size(28px, 14px, 3px 4px);
  medium: .set-color-picker-size(32px, 14px, 4px);
  large: .set-color-picker-size(36px, 14px, 5px);
};
each(@color-picker-sizes, {
  .yc-color-picker-size-@{key} {
    @value();
  }
});
