.yc-color-picker-control-bar {
  cursor: pointer;
  position: relative;
  width: 182px;
  height: 14px;
  border-radius: 10px;
  border: 1px solid rgb(229, 230, 235);
  background-image: linear-gradient(
    90deg,
    #f00 0,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00
  );
  .yc-color-picker-control-bar-handler {
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid rgb(229, 230, 235);
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background: currentColor;
      border-radius: 50%;
    }
    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}
// disabld
.yc-color-picker-control-bar-disabled {
  cursor: not-allowed;
}
