.yc-color-picker-panel {
  overflow: hidden;
  width: 260px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 8px 20px #0000001a;

  .yc-color-picker-panel-control {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .yc-color-picker-control-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .yc-color-picker-control-bar-bg {
        width: fit-content;
        height: fit-content;
        background-image: conic-gradient(
          rgba(0, 0, 0, 0.06) 0 25%,
          transparent 0 50%,
          rgba(0, 0, 0, 0.06) 0 75%,
          transparent 0
        );
        background-size: 8px 8px;
        border-radius: 10px;
      }
    }
  }
  .yc-color-picker-panel-colors {
    padding: 12px;
    border-top: 1px solid rgb(229, 230, 235);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.yc-color-picker-panel-disabled {
  cursor: not-allowed;
}
