.yc-color-picker {
  cursor: pointer;
  padding: 4px;
  background-color: rgb(242, 243, 245);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  &:hover {
    background-color: rgb(229, 230, 235);
  }
  .yc-color-picker-preview {
    width: 24px;
    height: 24px;
    color: rgb(29, 33, 41);
    font-weight: 400;
  }
}
// size
.yc-color-picker-size-mini {
  height: 24px;
  font-size: 12px;
  padding: 4px;
}
.yc-color-picker-size-small {
  height: 28px;
  font-size: 14px;
  padding: 3px 4px;
}
.yc-color-picker-size-medium {
  height: 32px;
  font-size: 14px;
  padding: 4px;
}
.yc-color-picker-size-large {
  height: 36px;
  font-size: 14px;
  padding: 5px;
}
