@component: yc-collapse;
.@{component} {
  width: 100%;
  overflow: hidden;
  line-height: 1.5715;
  border-radius: 4px;
  &:deep(.@{component}-item) {
    &:last-child {
      border-bottom: none;
    }
  }
}
.@{component}-bordered {
  border: 1px solid rgb(229, 230, 235);
}
