@component: yc-collapse-item;
.@{component} {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(229, 230, 235);
  .@{component}-header {
    cursor: pointer;
    position: relative;
    padding: 8px 12px;
    overflow: hidden;
    color: rgb(29, 33, 41);
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    .@{component}-header-icon {
      color: rgb(107, 119, 133);
      position: absolute;
    }
    .@{component}-header-title {
      flex: 1;
      font-weight: 500;
    }
  }

  .@{component}-content {
    position: relative;
    overflow: hidden;
    color: rgb(29, 33, 41);
    font-size: 14px;
    background-color: rgb(247, 248, 250);
    .@{component}-content-box {
      padding: 8px 0;
    }
  }
}

// postion
.@{component}-expand-icon-left {
  .@{component}-header,
  .@{component}-content {
    padding-left: 34px;
    padding-right: 13px;
    .@{component}-header-icon {
      left: 13px;
    }
  }
}
.@{component}-expand-icon-right {
  .@{component}-header,
  .@{component}-content {
    padding-left: 13px;
    padding-right: 34px;
    .@{component}-header-icon {
      right: 13px;
    }
  }
}
// disabled
.@{component}-disabled {
  .@{component}-header {
    color: rgb(201, 205, 212);
    background-color: #fff;
    cursor: not-allowed;
  }
}
