/* 系统滚动条颜色 */
*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  width: 9px;
  height: 9px;
  border-radius: 2em;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(201, 205, 212);
  background-clip: padding-box;
  min-height: 8px;
  border-radius: 2em;
  &:hover {
    background-color: rgb(134, 144, 156);
    opacity: 0.8;
  }
}

// 文本移除
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

svg {
  outline: none;
}
