/* 系统滚动条颜色 */
*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  box-sizing: border-box;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(201, 205, 212);
  border-radius: 4.5px;
  &:hover {
    background-color: rgb(134, 144, 156);
    opacity: 0.8;
  }
}

// 旋转
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// icon
.yc-icon {
  display: inline-block;
  overflow: hidden;
  width: 1em;
  height: 1em;
  color: inherit;
}
// spin-icon
.yc-icon-spin {
  animation: spin 1s infinite cubic-bezier(0, 0, 1, 1);
}

// 文本溢出隐藏
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
