// fade过渡
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
}

// used by popover,tooltip,popconfirm
.zoom-in-fade-out-enter-from,
.zoom-in-fade-out-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}
.zoom-in-fade-out-enter-to,
.zoom-in-fade-out-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}
.zoom-in-fade-out-enter-active,
.zoom-in-fade-out-leave-active {
  transition:
    opacity 0.3s cubic-bezier(0.3, 1.3, 0.3, 1),
    transform 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
}

// used by select,picker,dropdown
.slide-dynamic-origin-enter-from,
.slide-dynamic-origin-leave-to {
  transform: scaleY(0.9);
  transform-origin: 0 0;
  opacity: 0;
}
.slide-dynamic-origin-enter-to,
.slide-dynamic-origin-leave-from {
  transform: scaleY(1);
  transform-origin: 0 0;
  opacity: 1;
}
.slide-dynamic-origin-enter-active,
.slide-dynamic-origin-leave-active {
  transition:
    transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1),
    opacity 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}

// used by modal
.zoom-modal-enter-from,
.zoom-modal-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}
.zoom-modal-enter-to,
.zoom-modal-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}
.zoom-modal-enter-active,
.zoom-modal-leave-active {
  transition:
    opacity 0.4s cubic-bezier(0.3, 1.3, 0.3, 1),
    transform 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
}

// used by drawer
@slide-directions: {
  @left: {
    enter-from: translateX(-100%);
    leave-to: translateX(-100%);
  };
  @right: {
    enter-from: translateX(100%);
    leave-to: translateX(100%);
  };
  @top: {
    enter-from: translateY(-100%);
    leave-to: translateY(-100%);
  };
  @bottom: {
    enter-from: translateY(100%);
    leave-to: translateY(100%);
  };
};
each(@slide-directions, .(@transform, @key) {
  @direction:replace(~"@{key}", "@", "");
  // 进入/离开的起始和结束状态
  .slide-drawer-@{direction}-enter-from,
  .slide-drawer-@{direction}-leave-to {
    transform: @transform[enter-from];
  }
  .slide-drawer-@{direction}-enter-to,
  .slide-drawer-@{direction}-leave-from {
    transform: translate(0);
  }
  // 动画激活状态
  .slide-drawer-@{direction}-enter-active,
  .slide-drawer-@{direction}-leave-active {
    transition: transform 0.3s cubic-bezier(0.34, 0.69, 0.1, 1);
  }
});

// used by input-tag
.input-tag-zoom-enter-from,
.input-tag-zoom-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}
.input-tag-zoom-enter-to,
.input-tag-zoom-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}
.input-tag-zoom-enter-active,
.input-tag-zoom-leave-active {
  transition: all 0.3s cubic-bezier(0.34, 0.69, 0.1, 1);
}
.input-tag-zoom-leave-active {
  position: absolute;
}
.input-tag-zoom-move {
  transition: all 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
}
