.yc-card-meta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .yc-card-meta-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .yc-card-meta-title {
      font-size: 16px;
      color: rgb(29, 33, 41);
      font-weight: 500;
    }
    .yc-card-meta-description {
      font-size: 14px;
      color: #4e5969;
      font-weight: 500;
    }
  }
  .yc-card-meta-footer {
    display: flex;
    justify-content: space-between;
    .yc-card-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .yc-card-actions-right {
        cursor: pointer;
        color: rgb(78, 89, 105);
        transition: color 0.2s cubic-bezier(0, 0, 1, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }
    }
  }
}
