.yc-card-grid {
  position: relative;
  width: 33.33%;
  //   border: 1px solid rgb(229, 230, 235);
  box-shadow:
    1px 0 0 0 rgb(229, 230, 235),
    0 1px 0 0 rgb(229, 230, 235),
    1px 1px 0 0 rgb(229, 230, 235),
    1px 0 0 0 rgb(229, 230, 235) inset,
    0 1px 0 0 rgb(229, 230, 235) inset;
  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: 0 0 0 0;
    transition: box-shadow 0.2s cubic-bezier(0, 0, 1, 1);
  }
}
.yc-card-grid-hoverable {
  &:hover {
    z-index: 1;
  }
  &:hover::before {
    box-shadow: 0 4px 10px rgb(242, 243, 245);
  }
}
