.yc-picker {
  position: relative;
  padding: 4px 11px 4px 4px;
  background-color: rgb(242, 243, 245);
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  color: rgb(78, 89, 105);
  line-height: 1.5715;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  &:not(.yc-picker-disabled):hover {
    background-color: rgb(229, 230, 235);
    border-color: transparent;
  }
  .yc-picker-prefix {
    font-size: 14px;
    color: rgb(78, 89, 105);
  }
  .yc-picker-input {
    flex-shrink: 0;
    flex: 1;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      padding: 0;
      padding-left: 8px;
      background-color: transparent;
      border: none;
      outline: none;
      text-align: left;
      transition: all 0.1s cubic-bezier(0, 0, 1, 1);
      &::placeholder {
        color: rgb(134, 144, 156);
      }
    }
  }
  .yc-picker-suffix {
    display: flex;
    align-items: center;
    .yc-icon-button {
      display: none;
    }
    .yc-picker-suffix-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
// has-prefix
.yc-picker-has-prefix {
  padding-left: 12px;
}
.yc-picker-allow-clear {
  &:hover .yc-picker-suffix {
    .yc-icon-button {
      display: flex;
    }
    .yc-picker-suffix-icon {
      display: none;
    }
  }
}
// focus
.yc-picker-focus {
  background-color: #fff;
  border-color: rgb(22, 93, 255);
  box-shadow: 0 0 0 0 rgb(190, 218, 255);
  &:not(.yc-picker-disabled):hover {
    background-color: #fff;
    border-color: rgb(22, 93, 255);
  }
}
// error
.yc-picker-error {
  background-color: rgb(255, 236, 232);
  border-color: transparent;
  &:not(.yc-picker-disabled):hover {
    background-color: rgb(253, 205, 197);
  }
  &.yc-picker-focus {
    background-color: #fff;
    border-color: rgb(245, 63, 63);
    box-shadow: 0 0 0 0 rgb(253, 205, 197);
    &:not(.yc-picker-disabled):hover {
      background-color: #fff;
    }
  }
}
// disabled
.yc-picker-disabled {
  cursor: not-allowed;
  background-color: rgb(242, 243, 245);
  border-color: transparent;
  color: rgb(201, 205, 212);
  .yc-picker-input {
    input {
      cursor: not-allowed;
      &::placeholder {
        color: rgb(201, 205, 212);
      }
    }
  }
}
// size
@size: {
  mini: 24px;
  small: 28px;
  medium: 32px;
  large: 36px;
};
each(@size,{
    .yc-picker-size-@{key}{
      height: @value;
      input{
        font-size: if(@key = mini,12px,14px);
      }
    }
  });
