.yc-time-picker-box {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 4px 11px 4px 4px;
  background-color: rgb(242, 243, 245);
  overflow: hidden;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  border-radius: 2px;
  border: 1px solid transparent;
  &.focus {
    background-color: rgb(255, 255, 255);
    border-color: rgb(22, 93, 255);
    box-shadow: 0 0 0 0 rgb(190, 218, 255);
    &.error {
      border-color: rgb(245, 63, 63);
    }
  }
  &.time-range {
    .yc-picker-input:focus {
      background: rgb(242, 243, 245);
    }
  }
  &:not(.focus).error {
    background-color: rgb(255, 236, 232);
    &:hover {
      background-color: rgb(253, 205, 197);
    }
  }
  &.disabled {
    cursor: not-allowed;
    background-color: rgb(242, 243, 245);
    color: rgb(201, 205, 212);
    .yc-time-icon {
      color: rgb(201, 205, 212);
    }
  }

  .yc-input-box {
    flex: 1;
    height: 100%;
    .yc-picker-input {
      height: 100%;
      width: 100%;
      padding-left: 8px;
      outline: none;
      border: none;
      background: transparent;
      color: rgb(78, 89, 105);
      &:disabled {
        cursor: not-allowed;
        color: rgb(201, 205, 212);
        &::placeholder {
          color: rgb(201, 205, 212);
        }
      }
    }
  }
  .yc-picker-separator {
    padding: 0 8px;
  }
  .yc-picker-suffix {
    margin-left: 6px;
    .yc-close-icon {
      display: none;
    }
  }
  &:hover {
    .yc-picker-suffix {
      &.allowClear {
        .yc-close-icon {
          display: flex;
        }
        .yc-time-icon {
          display: none;
        }
      }
    }
  }
}
@itemHeight: 32px;
.yc-picker-box {
  height: 267px;
  background-color: #fff;
  border: 1px solid rgb(229, 230, 235);
  border-radius: 4px;
  box-shadow: 0 4px 10px #0000001a;
  display: flex;
  flex-direction: column;
  .yc-picker-content {
    flex: 1;
    display: flex;
    overflow: hidden;
    .yc-time-col {
      flex: 1;
      flex-shrink: 0;
      display: flex;
      // flex-direction: column;
      // align-items: center;
      overflow: hidden;
      &:nth-child(n + 2) {
        border-left: 1px solid rgb(229, 230, 235);
      }
      .yc-time-list {
        padding-bottom: calc(@itemHeight * 6);
        .yc-time-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 64px;
          height: @itemHeight;
          font-size: 14px;
          padding: 4px 0;
          cursor: pointer;
          &:not(.disabled):hover,
          &.active {
            background: rgb(242, 243, 245);
          }
          &.disabled {
            cursor: not-allowed;
            color: rgb(201, 205, 212);
          }
        }
      }
    }
  }
  .yc-picker-footer-extra {
    padding: 8px;
    color: rgb(29, 33, 41);
    font-size: 12px;
    border-top: 1px solid rgb(229, 230, 235);
  }
  .yc-picker-footer {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-top: 1px solid rgb(229, 230, 235);
    gap: 8px;
  }
}
