@component: yc-list-item;
.@{component} {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .@{component}-main {
    flex: 1;
  }
  .@{component}-action {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
