@component: yc-list-item-meta;
.@{component} {
  overflow: hidden;
  width: 100%;
  padding: 4px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  .yc-list-item-avatar {
    flex-shrink: 0;
  }
  .@{component}-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .@{component}-title {
      color: rgb(29, 33, 41);
      font-weight: 500;
    }
    .@{component}-description {
      color: rgb(78, 89, 105);
    }
  }
}
