.yc-list-item {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .yc-list-item-main {
    flex: 1;
  }
  .yc-list-item-action {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
