@component: yc-calendar;
.@{component} {
  border: 1px solid rgb(229, 230, 235);
  display: flex;
  flex-direction: column;
  .@{component}-header {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    .@{component}-header-left {
      display: flex;
      align-items: center;
      gap: 12px;
      .@{component}-header-icon {
        font-size: 12px;
      }
      .@{component}-header-value {
        color: rgb(29, 33, 41);
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}
// calendar-month
.@{component}-month {
  display: flex;
  flex-direction: column;
  .@{component}-week-list {
    height: 55px;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgb(229, 230, 235);
    display: flex;
    .@{component}-week-list-item {
      flex: 1;
      padding: 20px 16px;
      color: #7d7d7f;
      text-align: left;
    }
  }
  .@{component}-month-cell-body {
    display: flex;
    flex-direction: column;
    .@{component}-month-row {
      display: flex;
      height: 100px;
      &:not(:last-child) {
        border-bottom: 1px solid rgb(229, 230, 235);
      }
      .@{component}-cell {
        width: calc(100% / 7);
        &:not(:last-child) {
          border-right: 1px solid rgb(229, 230, 235);
        }
        .@{component}-date {
          width: 100%;
          height: 100%;
          padding: 10px;
          cursor: pointer;
          .@{component}-date-value {
            color: rgb(201, 205, 212);
            font-weight: 500;
            font-size: 16px;
            .@{component}-date-circle {
              width: 28px;
              height: 28px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .@{component}-cell-in-view {
        .@{component}-date {
          .@{component}-date-value {
            color: rgb(29, 33, 41);
          }
        }
      }
      // today
      .@{component}-cell-today {
        .@{component}-date {
          .@{component}-date-value {
            .@{component}-date-circle {
              border: 1px solid rgb(22, 93, 255);
            }
          }
        }
      }
      // selected
      .@{component}-cell-selected {
        .@{component}-date {
          .@{component}-date-value {
            .@{component}-date-circle {
              border: 1px solid rgb(22, 93, 255);
              color: #fff;
              background-color: rgb(22, 93, 255);
            }
          }
        }
      }
    }
  }
}
.@{component}-month {
  &.@{component}-month-small {
    border: none;
    .@{component}-week-list {
      width: fit-content;
      height: 24px;
      border: none;
      .@{component}-week-list-item {
        padding: 6px;
        width: 26px;
      }
    }
    .@{component}-month-cell-body {
      .@{component}-month-row {
        height: 26px;
        border: none;
        .@{component}-cell {
          width: 26px;
          border: none;
          .@{component}-date {
            padding: 2px;
            .@{component}-date-value {
              font-size: 14px;
              .@{component}-date-circle {
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }
    }
  }
}
// calendar-year
.@{component}-year {
  padding: 12px;
  .@{component}-year-row {
    display: flex;
    &:not(:last-child) {
      border-bottom: 1px solid rgb(229, 230, 235);
    }
    .@{component}-year-cell {
      padding: 20px 8px;
      &:not(:last-child) {
        border-right: 1px solid rgb(229, 230, 235);
      }
      .@{component}-year-cell-title {
        padding: 10px 6px;
        color: rgb(29, 33, 41);
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}
