@component: yc-badge;
.@{component} {
  position: relative;
  display: inline-block;
  line-height: 1;
  .@{component}-text,
  .@{component}-number {
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    background-color: rgb(245, 63, 63);
    box-shadow: 0 0 0 2px #fff;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
  .@{component}-dot,
  .@{component}-text,
  .@{component}-number {
    z-index: 2;
    position: absolute;
    top: 2px;
    right: 2px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
  }

  .@{component}-stauts-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    .@{component}-stauts-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    .@{component}-status-text {
      color: rgb(29, 33, 41);
      font-size: 12px;
      line-height: 1.5715;
    }
  }
}

// status
@status: {
  normal: rgb(201, 205, 212);
  success: rgb(0, 180, 42);
  danger: rgb(245, 63, 63);
  processing: rgb(22, 93, 255);
  warning: rgb(255, 125, 0);
};
// status
each(@status,{
  .@{component}-status-@{key}{
    background-color: @value;
  }
})
// color
@color: {
  red: rgb(245, 63, 63);
  orangered: rgb(247, 114, 52);
  orange: rgb(255, 125, 0);
  gold: rgb(247, 186, 30);
  lime: rgb(159, 219, 29);
  green: rgb(0, 180, 134);
  cyan: rgb(20, 201, 201);
  blue: rgb(52, 145, 250);
  arcoblue: rgb(22, 93, 255);
  purple: rgb(144, 46, 209);
  pinkpurple: rgb(217, 26, 217);
  magenta: rgb(245, 49, 157);
  gray: rgb(134, 144, 156);
}
each(@color, {
  .@{component}-color-@{key} {
    background-color: @value;
  }
});
