.yc-badge {
  position: relative;
  display: inline-block;
  line-height: 1;
  .yc-badge-text,
  .yc-badge-number {
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
  .yc-badge-dot,
  .yc-badge-text,
  .yc-badge-number,
  .yc-badge-custom-dot {
    z-index: 2;
    position: absolute;
    background-color: rgb(245, 63, 63);
    box-shadow: 0 0 0 2px #fff;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    &.yc-badge-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    &.yc-badge-custom-dot {
      background-color: #fff;
      box-shadow: none;
    }
  }

  .yc-badge-stauts-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    .yc-badge-stauts-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    .yc-badge-status-text {
      color: rgb(29, 33, 41);
      font-size: 12px;
      line-height: 1.5715;
    }
  }
}
.yc-badge-no-children {
  .yc-badge-dot,
  .yc-badge-text,
  .yc-badge-number,
  .yc-badge-custom-dot {
    position: relative;
    transform: none;
  }
}

// status
@status: {
  normal: rgb(201, 205, 212);
  success: rgb(0, 180, 42);
  danger: rgb(245, 63, 63);
  processing: rgb(22, 93, 255);
  warning: rgb(255, 125, 0);
};
// status
each(@status,{
  .yc-badge-status-@{key}{
    background-color: @value;
  }
})
// color
@color: {
  red: rgb(245, 63, 63);
  orangered: rgb(247, 114, 52);
  orange: rgb(255, 125, 0);
  gold: rgb(247, 186, 30);
  lime: rgb(159, 219, 29);
  green: rgb(0, 180, 134);
  cyan: rgb(20, 201, 201);
  blue: rgb(52, 145, 250);
  arcoblue: rgb(22, 93, 255);
  purple: rgb(144, 46, 209);
  pinkpurple: rgb(217, 26, 217);
  magenta: rgb(245, 49, 157);
  gray: rgb(134, 144, 156);
}
each(@color, {
  .yc-badge-color-@{key} {
    background-color: @value;
  }
});
