.yc-link {
  cursor: pointer;
  padding: 1px 4px;
  line-height: 1.5715;
  background-color: none;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  .yc-link-icon {
    flex-shrink: 0;
    color: inherit;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .yc-spin {
      font-size: inherit;
      color: inherit;
    }
  }
}
// hoverable
.yc-link-hoverable {
  &:hover {
    background-color: rgb(242, 243, 245);
  }
  &:active {
    background-color: rgb(229, 230, 235);
  }
}
// disabled
.yc-link-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
// loading
.yc-link-loading {
  cursor: default;
  position: relative;

  &::before {
    content: '';
    display: block;
    z-index: 1;
    position: absolute;
    inset: 0 0 0 0;
    background-color: #fff;
    opacity: 0.4;
  }
}

// status

@status: {
  normal: rgb(22, 93, 255);
  warning: rgb(255, 125, 0);
  success: rgb(0, 180, 42);
  danger: rgb(245, 63, 63);
};
each(@status, {
  .yc-link-status-@{key} {
    color: @value;
  }
});
