// yc-input-outer
.yc-input-outer {
  width: 100%;
  display: inline-flex;
  align-items: center;

  .yc-input-prepend,
  .yc-input-append,
  .yc-input-wrapper {
    flex-shrink: 0;
    font-size: inherit;
  }
  .yc-input-prepend,
  .yc-input-append {
    height: 100%;
    padding: 0 12px;
    color: rgb(29, 33, 41);
    font-weight: 400;
    white-space: nowrap;
    background-color: rgb(242, 243, 245);
    display: flex;
    align-items: center;

    &.yc-input-prepend {
      border-right: 1px solid rgb(229, 230, 235);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &.yc-input-append {
      border-left: 1px solid rgb(229, 230, 235);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
.yc-input-has-prepend {
  overflow: hidden;
  .yc-input-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 1;
  }
}
.yc-input-has-append {
  overflow: hidden;
  .yc-input-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1;
  }
}
.yc-input-search-append {
  &:deep(.yc-input-append) {
    padding: 0;
    .yc-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.yc-input-outer-disabled {
  cursor: not-allowed;
}

// yc-input-wrapper
.yc-input-wrapper {
  width: 100%;
  cursor: text;
  padding: 0 12px;
  background-color: rgb(242, 243, 245);
  border: 1px solid transparent;
  border-radius: 2px;
  transition:
    color 0.1s cubic-bezier(0, 0, 1, 1),
    border-color 0.1s cubic-bezier(0, 0, 1, 1),
    background-color 0.1s cubic-bezier(0, 0, 1, 1);
  color: rgb(29, 33, 41);
  font-size: inherit;
  font-weight: 400;
  display: flex;
  align-items: center;
  &:not(.yc-input-disabled) {
    &:hover {
      border-color: transparent;
      background-color: rgb(229, 230, 235);
    }
    &:hover .yc-input-clear-button {
      visibility: visible;
    }
    &:focus-within {
      background-color: #fff;
      border-color: rgb(22, 93, 255);
      box-shadow: 0 0 0 0 rgb(190, 218, 255);
    }
  }
  .yc-input-prefix,
  .yc-input-suffix,
  .yc-input {
    flex-shrink: 0;
    color: inherit;
  }
  .yc-input-prefix,
  .yc-input-suffix {
    height: 100%;
    color: rgb(78, 89, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    .yc-input-word-limit {
      margin: 0 6px;
      color: rgb(134, 144, 156);
      font-size: 12px;
    }
    .yc-input-clear-button {
      visibility: hidden;
    }
    &.yc-input-prefix {
      padding-right: 12px;
    }
    &.yc-input-suffix {
      padding-left: 12px;
    }
  }
  .yc-input {
    flex: 1;
    cursor: inherit;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    &::placeholder {
      color: rgb(134, 144, 156);
    }
  }
}
// error
.yc-input-error {
  background-color: rgb(255, 236, 232);
  &:not(.yc-input-disabled) {
    &:hover {
      border-color: transparent;
      background-color: rgb(253, 205, 197);
    }
    &:focus-within {
      background: #fff;
      border-color: rgb(245, 63, 63);
      box-shadow: 0 0 0 0 rgb(253, 205, 197);
    }
  }
}
// disabled
.yc-input-disabled {
  cursor: not-allowed;
  border-color: transparent;
  background-color: rgb(242, 243, 245);
  color: rgb(201, 205, 212);
  .yc-input-prefix,
  .yc-input-suffix {
    color: inherit;
  }
}
//size
.set-input-size(@font-size, @height, @padding, @line-height) {
  font-size: @font-size;
  height: @height;
  .yc-input {
    padding: @padding 0;
    line-height: @line-height;
  }
}
@input-sizes: {
  mini: .set-input-size(12px, 24px, 1px, 1.667);
  small: .set-input-size(14px, 28px, 2px, 1.5715);
  medium: .set-input-size(14px, 32px, 4px, 1.5715);
  large: .set-input-size(14px, 36px, 6px, 1.5715);
};
each(@input-sizes, {
  .yc-input-size-@{key},
  .yc-input-outer-size-@{key} {
    @value();
  }
});
