@component: yc-input;
// @{component}-outer
.@{component}-outer {
  width: 100%;
  display: inline-flex;
  align-items: center;

  .@{component}-prepend,
  .@{component}-append,
  .@{component}-wrapper {
    flex-shrink: 0;
    font-size: inherit;
  }
  .@{component}-prepend,
  .@{component}-append {
    height: 100%;
    padding: 0 12px;
    color: rgb(29, 33, 41);
    font-weight: 400;
    white-space: nowrap;
    background-color: rgb(242, 243, 245);
    display: flex;
    align-items: center;

    &.@{component}-prepend {
      border-right: 1px solid rgb(229, 230, 235);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &.@{component}-append {
      border-left: 1px solid rgb(229, 230, 235);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
.@{component}-has-prepend {
  overflow: hidden;
  .@{component}-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 1;
  }
}
.@{component}-has-append {
  overflow: hidden;
  .@{component}-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1;
  }
}
.@{component}-search-append {
  &:deep(.@{component}-append) {
    padding: 0;
    .yc-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.@{component}-outer-disabled {
  cursor: not-allowed;
}

// @{component}-wrapper
.@{component}-wrapper {
  width: 100%;
  cursor: text;
  padding: 0 12px;
  background-color: rgb(242, 243, 245);
  border: 1px solid transparent;
  border-radius: 2px;
  transition:
    color 0.1s cubic-bezier(0, 0, 1, 1),
    border-color 0.1s cubic-bezier(0, 0, 1, 1),
    background-color 0.1s cubic-bezier(0, 0, 1, 1);
  color: rgb(29, 33, 41);
  font-size: inherit;
  font-weight: 400;
  display: flex;
  align-items: center;
  &:not(.@{component}-disabled) {
    &:hover {
      border-color: transparent;
      background-color: rgb(229, 230, 235);
    }
    &:hover .@{component}-clear-button {
      visibility: visible;
    }
    &:focus-within {
      background-color: #fff;
      border-color: rgb(22, 93, 255);
      box-shadow: 0 0 0 0 rgb(190, 218, 255);
    }
  }
  .@{component}-prefix,
  .@{component}-suffix,
  .@{component} {
    flex-shrink: 0;
    color: inherit;
  }
  .@{component}-prefix,
  .@{component}-suffix {
    height: 100%;
    color: rgb(78, 89, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    .@{component}-word-limit {
      margin: 0 6px;
      color: rgb(134, 144, 156);
      font-size: 12px;
    }
    .@{component}-clear-button {
      visibility: hidden;
    }
    &.@{component}-prefix {
      padding-right: 12px;
    }
    &.@{component}-suffix {
      padding-left: 12px;
    }
  }
  .@{component} {
    flex: 1;
    cursor: inherit;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    &::placeholder {
      color: rgb(134, 144, 156);
    }
  }
}
// error
.@{component}-error {
  background-color: rgb(255, 236, 232);
  &:not(.@{component}-disabled) {
    &:hover {
      border-color: transparent;
      background-color: rgb(253, 205, 197);
    }
    &:focus-within {
      background: #fff;
      border-color: rgb(245, 63, 63);
      box-shadow: 0 0 0 0 rgb(253, 205, 197);
    }
  }
}
// disabled
.@{component}-disabled {
  cursor: not-allowed;
  border-color: transparent;
  background-color: rgb(242, 243, 245);
  color: rgb(201, 205, 212);
  .@{component}-prefix,
  .@{component}-suffix {
    color: inherit;
  }
}
//size
@sizes: {
  @mini: {
    font-size: 12px;
    height: 24px;
    padding: 1px;
    line-height: 1.667;
  };
  @small: {
    font-size: 14px;
    height: 28px;
    padding: 2px;
    line-height: 1.5715;
  };
  @medium: {
    font-size: 14px;
    height: 32px;
    padding: 4px;
    line-height: 1.5715;
  };
  @large: {
    font-size: 14px;
    height: 36px;
    padding: 6px;
    line-height: 1.5715;
  };
};

each(@sizes, .(@value, @name) {
  @key: replace(~"@{name}", "@", "");
  .@{component}-size-@{key},
  .@{component}-outer-size-@{key} {
    font-size: @value[font-size];
    height: @value[height];
    
    .@{component} {
      padding: @value[padding] 0;
      line-height: @value[line-height];
    }
  }
});
