@component: yc-dropdown-option;
.@{component} {
  padding: 0 12px;
  line-height: 36px;
  font-size: 14px;
  text-align: left;
  display: flex;
  align-items: center;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  &.@{component}-disabled {
    cursor: not-allowed;
  }
  .@{component}-icon,
  .@{component}-content,
  .@{component}-suffix {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }
  .@{component}-icon {
    margin-right: 8px;
    color: inherit;
  }
  .@{component}-suffix {
    color: inherit;
    margin-left: 12px;
  }
  .@{component}-content {
    flex: 1;
    overflow: hidden;
  }
}

@option-theme: {
  @light: {
    color: rgb(29, 33, 41);
    hover-bg: rgb(242, 243, 245);
    hover-color: rgb(22, 93, 255);
    disabled-color: rgb(201, 205, 212);
  };
  @dark: {
    color: rgb(201, 205, 212);
    hover-bg: rgba(255, 255, 255, 0.04);
    hover-color: #fff;
    disabled-color: rgb(78, 89, 105);
  };
};
each(@option-theme,.(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .@{component}-theme-@{key}{
    color: @value[color];
    &:not(.@{component}-disabled):hover {
      background-color: @value[hover-bg];
    }
    &.@{component}-active {
      color: @value[hover-color];
      background-color: @value[hover-bg];
    }
    &.@{component}d-disabled {
      color: @value[disabled-color];
      background: transparent;
      cursor: not-allowed;
    }
  }
});
