.yc-link {
  cursor: pointer;
  padding: 1px 4px;
  line-height: 1.5715;
  background-color: none;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  .yc-link-icon {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// hoverable
.yc-link-hoverable {
  &:hover {
    background-color: rgb(242, 243, 245);
  }
  &:active {
    background-color: rgb(229, 230, 235);
  }
}
// disabled
.yc-link-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
// loading
.yc-link-loading {
  opacity: 0.4;
  cursor: default;
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .svg-icon {
    animation: loading 1s infinite cubic-bezier(0, 0, 1, 1);
  }
}
// status
.yc-link-status-normal {
  color: rgb(22, 93, 255);
  .yc-link-icon {
    color: rgb(22, 93, 255);
  }
}
.yc-link-status-warning {
  color: rgb(255, 125, 0);
  .yc-link-icon {
    color: rgb(255, 125, 0);
  }
}
.yc-link-status-success {
  color: rgb(0, 180, 42);
  .yc-link-icon {
    color: rgb(0, 180, 42);
  }
}
.yc-link-status-danger {
  color: rgb(245, 63, 63);
  .yc-link-icon {
    color: rgb(245, 63, 63);
  }
}
