.yc-select-option {
  padding: 0 12px;
  line-height: 36px;
  font-size: 14px;
  color: rgb(29, 33, 41);
  text-align: left;
  display: flex;
  align-items: center;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  &:hover {
    color: rgb(29, 33, 41);
    background-color: rgb(242, 243, 245);
  }
  .yc-select-option-icon,
  .yc-select-option-content,
  .yc-select-option-suffix {
    flex-shrink: 0;
    color: inherit;
  }
  .yc-select-option-icon {
    margin-right: 8px;
  }
  .yc-select-option-suffix {
    margin-left: 12px;
  }
  .yc-select-option-content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .yc-checkbox {
    padding-left: 0;
    overflow: hidden;
    &:deep(.yc-checkbox-label) {
      flex: 1;
      flex-shrink: 0;
    }
  }
}
// disabled
.yc-select-option-disabled {
  color: rgb(201, 205, 212);
  background: transparent;
  cursor: not-allowed;
}
