.yc-select-suffix-icon {
  transform: rotate(90deg);
}

.yc-select-suffix-icon,
.yc-select-search-icon {
  font-size: 12px;
  color: inherit;
}

.yc-select-clear-icon,
.yc-select-search-icon {
  display: none;
}
