.yc-space {
  display: inline-flex;
}
.yc-space-direction-horizontal {
  flex-direction: row;
}
.yc-space-direction-vertical {
  flex-direction: column;
}
.yc-space-wrap {
  flex-wrap: wrap;
}
.yc-space-fill {
  display: flex;
}
