.yc-space {
  display: inline-flex;
  .yc-space-split,
  .yc-space-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// direction
.yc-space-direction-horizontal {
  flex-direction: space;
  .yc-space-item,
  .yc-space-split {
    height: 100%;
  }
}
.yc-space-direction-vertical {
  flex-direction: column;
  .yc-space-item,
  .yc-space-split {
    width: 100%;
  }
}
// wrap
.yc-space-wrap {
  flex-wrap: wrap;
}
// fill
.yc-space-fill {
  display: flex;
}
// align
@align: {
  start: flex-start;
  center: center;
  end: flex-end;
  stretch: stretch;
};
each(@align, {
  .yc-space-align-@{key} {
    align-items: @value;
  }
});
