.yc-scrollbar {
  position: relative;
  overflow: hidden;

  &:hover .yc-scrollbar-track {
    &:deep(.yc-scrollbar-thumb-bar) {
      opacity: 1;
    }
  }
  .yc-scrollbar-container {
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      scroll-behavior: smooth;
    }
    .yc-scrollbar-content {
      height: fit-content;
      width: fit-content;
      min-width: 100%;
    }
  }
}
.yc-scrollbar-both-track {
  &::before {
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 15px;
    height: 15px;
    background-color: rgb(247, 248, 250);
    border-right: 1px solid rgb(229, 230, 235);
    border-bottom: 1px solid rgb(229, 230, 235);
  }
}
.yc-scrollbar-vertical-track {
  .yc-scrollbar-container {
    padding-right: 15px;
  }
  &:deep(.yc-scrollbar-track-direction-vertical) {
    background-color: rgb(247, 248, 250);
    border-left: 1px solid rgb(229, 230, 235);
    border-right: 1px solid rgb(229, 230, 235);
  }
}
.yc-scrollbar-horizontal-track {
  .yc-scrollbar-container {
    padding-bottom: 15px;
  }
  &:deep(.yc-scrollbar-track-direction-horizontal) {
    background-color: rgb(247, 248, 250);
    border-top: 1px solid rgb(229, 230, 235);
    border-bottom: 1px solid rgb(229, 230, 235);
  }
}

.yc-scrollbar-auto-fill {
  flex: 1;
  display: flex;
  height: 100%;
  .yc-scrollbar-container {
    flex: 1;
    flex-shrink: 0;
    height: 100%;
  }
}
