@component: yc-scrollbar;
.@{component} {
  position: relative;
  overflow: hidden;

  &:hover .@{component}-track {
    .@{component}-thumb-bar {
      opacity: 1;
    }
  }
  .@{component}-container {
    overflow: auto;
    .@{component}-content {
      height: fit-content;
      width: fit-content;
      min-width: 100%;
    }
  }
  &:not(.@{component}-real) {
    .@{component}-container {
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }
}
// 自动填充
.@{component}-auto-fill {
  flex: 1;
  display: flex;
  height: 100%;
  .@{component}-container {
    flex: 1;
    flex-shrink: 0;
    height: 100%;
  }
}
// 双向轨道
.@{component}-both-track {
  &::before {
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 15px;
    height: 15px;
    background-color: rgb(247, 248, 250);
    border-right: 1px solid rgb(229, 230, 235);
    border-bottom: 1px solid rgb(229, 230, 235);
  }
}
// 横向
.@{component}-vertical-track {
  .@{component}-container {
    padding-right: 15px;
  }
  &:deep(.@{component}-track-direction-vertical) {
    background-color: rgb(247, 248, 250);
    border-left: 1px solid rgb(229, 230, 235);
    border-right: 1px solid rgb(229, 230, 235);
  }
}
// 纵向
.@{component}-horizontal-track {
  .@{component}-container {
    padding-bottom: 15px;
  }
  &:deep(.@{component}-track-direction-horizontal) {
    background-color: rgb(247, 248, 250);
    border-top: 1px solid rgb(229, 230, 235);
    border-bottom: 1px solid rgb(229, 230, 235);
  }
}
// track
.@{component}-track {
  position: absolute;
  width: 15px;

  .@{component}-thumb {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .@{component}-thumb-bar {
      width: 9px;
      user-select: none;
      border-radius: 5px;
      background-color: rgb(201, 205, 212);
      opacity: 0;
      transition: opacity 0.2s ease;
      &:hover {
        background-color: rgb(134, 144, 156);
        opacity: 0.8;
      }
      &.is-dragging {
        background-color: rgb(134, 144, 156);
        opacity: 0.8;
      }
    }
  }
}
// track-dir
.@{component}-track-direction-vertical {
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.@{component}-track-direction-horizontal {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
// thubm-dir
.@{component}-thumb-direction-vertical {
  width: 100%;
  .@{component}-thumb-bar {
    height: 100%;
  }
}
.@{component}-thumb-direction-horizontal {
  height: 100%;
  .@{component}-thumb-bar {
    width: 100%;
  }
}
