@component: yc-comment;
.@{component} {
  font-size: 14px;
  line-height: 1.5715;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  .@{component}-avatar {
    flex-shrink: 0;
    cursor: pointer;
  }
  .@{component}-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .@{component}-inner-content {
      display: flex;
      flex-direction: column;
      .@{component}-title {
        display: flex;
        align-items: center;
        gap: 8px;
        .@{component}-author {
          color: rgb(78, 89, 105);
          font-size: 14px;
        }
        .@{component}-datetime {
          color: rgb(134, 144, 156);
          font-size: 12px;
        }
        &.@{component}-title-align-right {
          justify-content: space-between;
        }
      }
      .@{component}-content {
        color: rgb(29, 33, 41);
      }
      .@{component}-actions {
        margin-top: 8px;
        color: rgb(78, 89, 105);
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 8px;
        &.@{component}-actions-align-right {
          justify-content: flex-end;
        }
      }
    }
    .@{component}-inner-comment {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
