@font-face {
  font-family: 'ifont';
  src: url('../fonts/icomoon.eot?3cxxz4');
  src:
    url('../fonts/icomoon.eot?3cxxz4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3cxxz4') format('truetype'),
    url('../fonts/icomoon.woff?3cxxz4') format('woff'),
    url('../fonts/icomoon.svg?3cxxz4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ifont {
  font-family: 'ifont';
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
