.yc-grid {
  display: grid;
}

.yc-row {
  display: flex;
}
.yc-row-wrap {
  flex-wrap: wrap;
}
// justify
.yc-row-justify-start {
  justify-content: flex-start;
}
.yc-row-justify-center {
  justify-content: center;
}
.yc-row-justify-end {
  justify-content: flex-end;
}
.yc-row-justify-space-around {
  justify-content: space-around;
}
.yc-row-justify-space-between {
  justify-content: space-between;
}
// align
.yc-row-align-start {
  align-items: flex-start;
}
.yc-row-align-center {
  align-items: center;
}
.yc-row-align-end {
  align-items: end;
}
.yc-row-align-stretch {
  align-items: flex-start;
}
