.yc-result {
  width: 100%;
  padding: 32px 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .yc-result-icon {
    font-size: 20px;
    margin-bottom: 16px;
    .yc-result-icon-tip {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .yc-result-title,
  .yc-result-subtitle {
    color: rgb(78, 89, 105);
    font-size: 14px;
    line-height: 1.5715;
    text-align: center;
    &.yc-result-title {
      color: rgb(29, 33, 41);
    }
  }
  .yc-result-extra {
    margin-top: 20px;
  }
  .yc-result-content {
    margin-top: 20px;
    width: 100%;
  }
}

// icon-type
.yc-result {
  // type
  @type: {
    @info: {
      bg: rgb(232, 243, 255);
      icon-color: rgb(22, 93, 255);
    };
    @success: {
      bg: rgb(232, 255, 234);
      icon-color: rgb(0, 180, 42);
    };
    @warning: {
      bg: rgb(255, 247, 232);
      icon-color: rgb(255, 125, 0);
    };
    @error: {
      bg: rgb(255, 236, 232);
      icon-color: rgb(245, 63, 63);
    };
  };
  each(@type, .(@value,@name){
    @key:replace(~"@{name}", "@", "");
    .yc-result-icon-@{key} {
      color: @value[icon-color];
      .yc-result-icon-tip {
        background-color: @value[bg];
      }
    }
  });
  .yc-result-icon-403,
  .yc-result-icon-404,
  .yc-result-icon-500 {
    padding-top: 24px;
    .yc-result-icon-tip {
      width: 92px;
      height: 92px;
      line-height: 92px;
    }
  }
}
