.yc-result {
  width: 100%;
  padding: 32px 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .yc-result-icon {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
    .yc-result-icon-tip {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  .yc-result-title,
  .yc-result-subtitle {
    color: rgb(78, 89, 105);
    font-size: 14px;
    line-height: 1.5715;
    text-align: center;
    &.yc-result-title {
      color: rgb(29, 33, 41);
    }
  }
  .yc-result-extra {
    margin-top: 20px;
  }
  .yc-result-content {
    margin-top: 20px;
  }
}

.yc-result-icon-info {
  background-color: rgb(232, 243, 255);
}
.yc-result-icon-success {
  background-color: rgb(232, 255, 234);
}
.yc-result-icon-warning {
  background-color: rgb(255, 247, 232);
}
.yc-result-icon-error {
  background-color: rgb(255, 236, 232);
}
