@component: yc-result;
.@{component} {
  width: 100%;
  padding: 32px 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .@{component}-icon {
    font-size: 20px;
    margin-bottom: 16px;
    .@{component}-icon-tip {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .@{component}-title,
  .@{component}-subtitle {
    color: rgb(78, 89, 105);
    font-size: 14px;
    line-height: 1.5715;
    text-align: center;
    &.@{component}-title {
      color: rgb(29, 33, 41);
    }
  }
  .@{component}-extra {
    margin-top: 20px;
  }
  .@{component}-content {
    margin-top: 20px;
  }
}

// icon-type
.@{component} {
  @type: {
    info: rgb(232, 243, 255);
    success: rgb(232, 255, 234);
    warning: rgb(255, 247, 232);
    error: rgb(255, 236, 232);
  };
  each(@type, {
    .@{component}-icon-@{key} {
      .@{component}-icon-tip {
        background-color: @value;
      }
    }
  });
  .@{component}-icon-403,
  .@{component}-icon-404,
  .@{component}-icon-500 {
    padding-top: 24px;
    .@{component}-icon-tip {
      width: 92px;
      height: 92px;
      line-height: 92px;
    }
  }
}
