@component: yc-rate;
.@{component} {
  min-height: 32px;
  font-size: 24px;
  line-height: 1;
  user-select: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  &:not(.@{component}-disabled) {
    .@{component}-character {
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
    .@{component}-character-scale {
      transform: scale(1.2);
    }
  }
  .@{component}-character {
    position: relative;
    color: rgb(229, 230, 235);
    transition: transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);

    .@{component}-character-left {
      width: 50%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
    }
  }
}

// disabled
.@{component}-disabled {
  cursor: not-allowed;
  .@{component}-character {
    cursor: not-allowed;
  }
}
